.actions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;

  // Modifiers
  &--left {
    justify-content: flex-start;
  }

  &--center {
    justify-content: center;
  }
}
