.monogram {
  position: relative;
  display: grid;
  place-items: center;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  color: var(--on-primary);
  background: var(--primary);
  border-radius: var(--rounded-xl);
  overflow: hidden;
}
