////
/// **Actions**
/// A row of Buttons. Actions handles spacing and overflow.
////

.skc-actions {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 0.5rem;
}

.skc-actions.skc-actions--left {
  justify-content: flex-start;
}

.skc-actions.skc-actions--center {
  justify-content: center;
}

.skc-actions.skc-actions--right {
  justify-content: flex-end;
}

.skc-actions.skc-actions--full {
  flex-wrap: nowrap;

  > .skc-button,
  > .skc-toggle-button {
    flex-basis: 100%;
  }
}
