////
/// **App Drawer Segment**
/// A group of apps in the App Drawer.
////

@use "../abstracts/typography" as type;

.skc-app-drawer-segment {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}

.skc-app-drawer-segment__title {
  @include type.font("title-medium");
}

.skc-app-drawer-segment__content {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 0.75rem;
}
