////
/// **Card Header**
/// The header of a Card. Sometimes all a Card needs is a Card Header.
///
/// @link https://docs.google.com/document/d/1ks5DrzfC_xLg48EFtZALoVQpJpxhsK2It3GDhAhZCcE/edit?usp=sharing#heading=h.5y6ktiqu5rba SKCom documentation
////

@use "../abstracts/typography.scss" as type;

.skc-card-header {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  padding: 0.75rem 0.25rem 0.75rem 1rem;
}

.skc-card-header__content {
  flex-grow: 1;
}

.skc-card-header__icon .skc-icon {
  color: var(--on-surface-variant);
}

.skc-card-header__title {
  @include type.font("title-medium");
  margin-block: 0;
}

.skc-card-header__subtitle {
  @include type.font("body-medium");
  font-family: var(--font-display);
  margin-block: 0;
}

.skc-card-header__overflow {
  position: relative;
  padding: 0.25rem;

  .skc-button {
    color: var(--outline);

    &::before,
    .skc-button__ripple {
      background-color: var(--on-surface-variant);
    }
  }

  .skc-menu {
    right: 0.25rem;
  }
}
