////
/// **Card Content**
/// A section of content inside Card.
///
/// @link https://docs.google.com/document/d/1ks5DrzfC_xLg48EFtZALoVQpJpxhsK2It3GDhAhZCcE/edit?usp=sharing#heading=h.anun9n3ld6tj SKCom documentation
////

.skc-card-content {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 1rem;

  p {
    margin-block: 0;
  }

  > .skc-actions {
    margin-top: 1.25rem;
  }
}
