////
/// **Chip Field**
/// A combination of Input Chips and a Text Field. Users can simply start
/// typing into the Chip Field; their input is converted into an Input Chip on spacebar press.
///
/// @link https://docs.google.com/document/d/1ks5DrzfC_xLg48EFtZALoVQpJpxhsK2It3GDhAhZCcE/edit?usp=sharing#heading=h.szjgl74eta6e SKCom documentation
////

@use "../abstracts/mixins.scss" as mix;
@use "../abstracts/typography.scss" as type;

// Base Chip Field
.skc-chip-field {
  @include mix.transition(
    border-color,
    var(--motion-short-4),
    var(--easing-standard)
  );
  position: relative;
  box-sizing: content-box;
  height: 3.5rem;
  border: 1px solid var(--outline);
  border-radius: 0.25rem;

  &:hover {
    border-color: var(--on-surface);
  }

  &:focus-within {
    margin: -1px;
    border: 2px solid var(--primary);

    .skc-section > & {
      margin-inline: calc(1rem - 1px);
    }
  }
}

// Contextual adaptations
.skc-chip-field__label {
  .skc-dialog &,
  .skc-full-screen-dialog & {
    background-color: var(--surface-container-high);
  }

  .skc-card--filled & {
    background-color: var(--surface-variant);
  }
}

// Scrollable area
.skc-chip-field__scrollable {
  overflow-x: auto;
}

// Chip Set and input field
.skc-chip-field__content {
  display: flex;
  align-items: center;
  flex-direction: row;
  column-gap: 0.5rem;
  width: fit-content;
  min-width: 100%;
  padding-inline: 0.75rem;
}

// Chip Set
.skc-chip-field__content > .skc-chip-set {
  flex-wrap: nowrap;
  padding-block: 0.5rem;

  &:empty {
    display: none;

    & ~ .skc-chip-field__input {
      padding-left: 0.25rem;

      &::placeholder {
        padding-left: 0;
      }
    }
  }
}

// Linear Progress
.skc-chip-field > .skc-progress {
  position: absolute;
  inset: auto 0 0;
}

// Label
.skc-chip-field__label {
  @include type.font("body-large");
  font-family: var(--font-display);
  position: absolute;
  z-index: 10;
  inset: 1rem auto auto 0.75rem;
  padding-inline: 0.25rem;
  pointer-events: none;
  color: var(--on-surface-variant);
  background-color: var(--background);

  .skc-chip-field:focus-within & {
    color: var(--primary);
  }
}

// Input field
.skc-chip-field__input {
  @include type.font("body-large");
  flex-grow: 1;
  box-sizing: border-box;
  min-width: 1rem;
  padding-block: 1rem;
  border: none;
  outline: none;
  background-color: transparent;

  &::placeholder {
    @include type.font("body-large");
    font-family: var(--font-display);
    padding-left: 0.25rem;
    color: var(--outline);
  }
}

// Helper message
.skc-chip-field__helper-msg {
  @include type.font("body-small");
  position: absolute;
  inset: auto 0 -2.25rem 1rem;
  height: 2rem;
  color: var(--on-surface-variant);
}

@include mix.breakpoint("sm") {
  .skc-section > .skc-chip-field:focus-within {
    margin-inline: -1px;
  }

  .skc-fullscreen-dialog .skc-chip-field__label {
    background-color: var(--surface-container-high);
  }
}
