////
/// **Chip Set**
/// Chips are normally alongside each other. A Chip Set is a container for
/// Chips, handling gaps, wrap, etc.
///
/// @link https://docs.google.com/document/d/1ks5DrzfC_xLg48EFtZALoVQpJpxhsK2It3GDhAhZCcE/edit?usp=sharing#heading=h.vu5fu2ylc51e SKCom documentation
////

// Base Chip Set
.skc-chip-set {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
}

// Scrollable Chip Set
.skc-chip-set__wrapper {
  overflow-x: auto;

  .skc-chip-set {
    flex-wrap: nowrap;
    width: fit-content;
  }
}
