////
/// **Content Layout**
/// A simple width-clamped vertical flow of content with minimal default styling.
////

@use "../abstracts/mixins.scss" as mix;
@use "../abstracts/typography.scss" as type;

.skc-content-layout {
  padding: 1rem 0;
}

.skc-content-layout__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 70.5rem;
  margin: 0 auto;

  &,
  > .skc-columns {
    > .skc-section > *:not(.skc-scrim) {
      margin-inline: 1rem;
    }
  }
}

@include mix.breakpoint("sm") {
  .skc-content-layout {
    padding: 1.5rem 2rem 2.25rem;
  }

  .skc-content-layout__content {
    width: calc(100% - (10rem));

    &,
    > .skc-columns {
      > .skc-section > *:not(.skc-scrim) {
        margin-inline: 0;
      }
    }
  }
}
