////
/// **Data Table**
/// A more rich Table with support for filtering, search, and pagination; and
/// integrates directly with Tanstack Table.
////

.skc-data-table {
  border: 2px solid var(--outline-variant);
  border-radius: 1.25rem;
  background-color: var(--surface-container-low);
}

$content-rounded: calc(1.25rem - 2px);

.skc-data-table > :first-child {
  border-radius: $content-rounded $content-rounded 0 0;
}

.skc-data-table > :last-child {
  border-radius: 0 0 $content-rounded $content-rounded;
}
