////
/// **Dialog**
/// A Dialog interrupts the user to have them make an immediately significant
/// decision or prompts a user to enter important information.
///
/// @link https://docs.google.com/document/d/1UJeTpXcB2MBL9Df4GUUeZ78xb-RshNIC_-LCIKmCo-8/edit?usp=sharing#heading=h.y38d5q52nvah SKCom documentation
////

.skc-dialog {
  position: fixed;
  z-index: 90;
  inset: 50% auto auto 50%;
  width: 22.5rem;
  max-width: calc(100vw - 3rem);
  // Unlike some other components, Dialog should work everywhere, and
  // !important makes sure of that
  margin: 0 !important;
  transform: translate(-50%, -50%);
  border-radius: var(--rounded-2xl);
  background-color: var(--surface-3);

  > .skc-actions {
    padding: 1.5rem 1.5rem 1.5rem 1rem;
  }
}

.skc-dialog ~ .skc-scrim {
  margin: 0 !important;
}
