////
/// **Full-screen Dialog**
/// A Full-screen Dialog fills the entire screen containing a series of tasks
/// required to complete.
///
/// A Full-screen Dialog only fills the screen on mobile and turns into a
/// Dialog on larger screens. A Dialog can appear above a Full-screen Dialog.
///
/// @link https://docs.google.com/document/d/1ks5DrzfC_xLg48EFtZALoVQpJpxhsK2It3GDhAhZCcE/edit?usp=sharing#heading=h.n92froio6418 SKCom documentation
////

@use "../abstracts/mixins.scss" as mix;
@use "../abstracts/typography.scss" as type;

.skc-fullscreen-dialog {
  position: fixed;
  z-index: 90;
  inset: 0;
  overflow-y: auto;
  height: 100vh;
  // Unlike some other components, Full-screen Dialog should work everywhere,]
  // and !important makes sure of that
  margin: 0 !important;
  background-color: var(--surface);
}

.skc-fullscreen-dialog__top-app-bar {
  position: fixed;
  z-index: 90;
  inset: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
  padding: 0.75rem 0.5rem;
  background-color: var(--surface);

  > .skc-button:not(:has(.skc-button__label)) {
    color: var(--on-surface);

    &::before,
    .skc-button__ripple {
      background-color: var(--on-surface);
    }
  }

  > h2 {
    @include mix.truncate();
    @include type.font("title-large");
    flex-grow: 1;
    margin-block: 0;
  }
}

.skc-fullscreen-dialog__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  // Top App Bar: 4rem
  // Navigation Bar: 5rem
  // Visible padding: 1rem
  padding-block: (4rem + 1rem) (5rem + 1rem);

  p {
    margin-block: 0;
  }

  > * {
    margin-inline: 1rem;
  }
}

.skc-fullscreen-dialog ~ .skc-scrim {
  margin: 0 !important;
}

@supports (height: 100dvh) {
  .skc-fullscreen-dialog {
    height: 100dvh;
  }
}

@include mix.breakpoint("sm") {
  .skc-fullscreen-dialog {
    inset: 50% auto auto 50%;
    width: 22.5rem;
    max-width: calc(100vw - 3rem);
    height: initial;
    transform: translate(-50%, -50%);
    border-radius: var(--rounded-xl);
    background-color: var(--surface-3);
  }

  .skc-fullscreen-dialog__top-app-bar {
    position: static;
    padding-inline: 0.75rem;
    background-color: var(--surface-3);
  }

  .skc-fullscreen-dialog__content {
    overflow-y: auto;
    box-sizing: border-box;
    // Top App Bar: 4rem
    // Visible margin from edge of screen (top + bottom combined): 2rem
    max-height: calc(100vh - (4rem + 2rem));
    padding: 1.5rem;
    border-top: 1px solid var(--outline);

    > * {
      margin-inline: 0;
    }
  }

  @supports (height: 100dvh) {
    .skc-fullscreen-dialog__content {
      max-height: calc(100dvh - (4rem + 2rem));
    }
  }

  @media (prefers-color-scheme: light) {
    .skc-fullscreen-dialog {
      .skc-input-chip--selected,
      .skc-filter-chip--selected {
        color: var(--on-secondary);
        background-color: var(--secondary);

        .skc-icon {
          color: var(--on-secondary);
        }
      }
    }
  }
}
