////
/// **Header**
/// A Header helps users quickly identifies sections and their purpose.
////

@use "../abstracts/mixins.scss" as mix;
@use "../abstracts/typography.scss" as type;

.skc-header {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
  margin-block: 0;
}

$header-levels: (
  2: (
    font: "headline-medium",
    icon-size: 2.25rem,
  ),
  3: (
    font: "headline-small",
    icon-size: 2rem,
  ),
  4: (
    font: "title-large",
    icon-size: 1.75rem,
  ),
  5: (
    font: "title-medium",
    icon-size: 1.25rem,
  ),
  6: (
    font: "title-small",
    icon-size: 1.25rem,
  ),
);

@each $level, $style in $header-levels {
  h#{$level} {
    &.skc-header,
    &.skc-header__text {
      @include type.font(map-get($style, "font"));
    }

    .skc-header__icon .skc-icon {
      @include mix.icon(0, 400, 0, 40);
      font-size: map-get($style, "icon-size");
    }
  }
}

.skc-header__icon .skc-icon {
  @include mix.icon(0, 400, 0, 40);
  color: var(--on-surface-variant);
}
