@use "../abstracts/mixins.scss" as mix;

// Base Icon
.skc-icon {
  font-family: "Material Symbols Outlined";
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  -webkit-font-smoothing: antialiased;
  line-height: 1;
  display: block;
  overflow: hidden;
  width: 1em;
  min-width: 1em;
  user-select: none;
  direction: ltr;
  white-space: nowrap;
  letter-spacing: normal;
  text-transform: none;
  word-wrap: normal;
}

@mixin icon($fill, $weight, $grade, $size) {
  font-size: #{$size}px;
  font-variation-settings: "FILL" $fill, "wght" $weight, "GRAD" $grade, "opsz" $size;
}

.skc-icon--outlined {
  @include icon(0, 400, 0, 24);
}

.skc-icon--filled {
  @include icon(1, 400, 0, 24);
}

@include mix.scheme("dark") {
  .skc-icon {
    @include icon(1, 400, -25, 24);
  }
}
