////
/// **Input Chip**
///
/// A Chip displaying a piece of information entered by the user is an Input
/// Chip. This type of Chip can be added, edited, and deleted by the user.
///
/// Like all Chips, an Input Chip appears alongside other Input Chips, but
/// these can also appear inside a text field like in Chip Field.
///
/// @link https://docs.google.com/document/d/1UJeTpXcB2MBL9Df4GUUeZ78xb-RshNIC_-LCIKmCo-8/edit?usp=sharing#heading=h.qr7x5m70pqd SKCom documentation
////

@use "../abstracts/typography.scss" as type;
@use "./chip.scss";

.skc-input-chip {
  @extend .skc-chip;
  cursor: initial;

  // Delete button
  .skc-button:has(.skc-button__icon):not(:has(.skc-button__label)) {
    @extend .skc-chip__trailing-button;
  }

  // State layer
  &::before {
    background-color: transparent;
  }

  // With avatar padding
  &:has(.skc-input-chip__avatar:first-child) {
    padding-block: 0.25rem;
    padding-left: 0.25rem;
    border-radius: var(--rounded-full);

    // With avatar and close padding
    &:has(.skc-button:last-child) {
      padding-block: 0.25rem;
      padding-right: 0.25rem;
    }
  }

  // With icon padding
  &:has(.skc-input-chip__icon:first-child) {
    padding-left: 0.5rem;
  }

  // With close padding
  &:has(.skc-button:last-child) {
    padding-block: 0.25rem;
    padding-right: 0.25rem;
  }
}

// Input Chip label
.skc-input-chip__label {
  @extend .skc-chip__label;
}

// Input Chip avatar
.skc-input-chip__avatar {
  width: 1.5rem;
  height: 1.5rem;

  .skc-avatar {
    width: 100%;
    height: 100%;
  }
}

// Input Chip in edit mode
.skc-input-chip__input {
  @include type.font("label-large");
  padding-block: 0.375rem;
  outline: none;
  background-color: transparent;
}

// Selected Input Chip
.skc-input-chip--selected {
  @extend .skc-chip--selected;

  .skc-input-chip__avatar {
    color: var(--on-secondary);
    border-radius: var(--rounded-full);
    background-color: var(--on-secondary-container);
  }

  .skc-button {
    color: var(--on-secondary-container);

    &::before,
    .skc-button__ripple {
      background-color: var(--on-secondary-container);
    }
  }
}

.skc-input-chip__icon {
  @extend .skc-chip__icon;
}

// Clickable Input Chip
button.skc-input-chip {
  cursor: pointer;

  &::before {
    background-color: var(--on-surface);
  }

  .skc-input-chip__ripple {
    @extend .skc-chip__ripple;
  }
}
