////
/// **List Item**
/// A vertical index of texts or images.
///
/// @link https://docs.google.com/document/d/1UJeTpXcB2MBL9Df4GUUeZ78xb-RshNIC_-LCIKmCo-8/edit?usp=sharing#heading=h.33dks77m5ey9 SKCom documentation
////

.skc-list-item {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  gap: 1rem;
  padding: 0.5rem 2rem 0.5rem 1rem;
}

.skc-list-item.skc-list-item--3-lines {
  padding-block: 0.75rem;
}

.skc-list-item > img {
  width: 3.5rem;
  height: 3.5rem;
  background-color: var(--surface-variant);
}
