////
/// **List**
/// A vertical index of texts or images.
////

@use "../abstracts/mixins.scss" as mix;

// Base List
.skc-list {
  display: grid;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

// Divided List
.skc-list--divided > :not(:last-child) {
  border-bottom: 1px solid var(--outline-variant);
}

// Have List fill the entire screen width on mobile
.skc-content-layout__content > .skc-section > .skc-list {
  margin-inline: 0;
}
