////
/// **List Item**
/// A vertical index of texts or images.
///
/// @link https://docs.google.com/document/d/1ks5DrzfC_xLg48EFtZALoVQpJpxhsK2It3GDhAhZCcE/edit?usp=sharing#heading=h.33dks77m5ey9 SKCom documentation
////

@use "../abstracts/mixins.scss" as mix;

// Base List Item
.skc-list-item {
  display: flex;
  overflow: hidden;
  flex-direction: row;
  gap: 1rem;
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem 2rem 0.5rem 1rem;
  text-decoration: none;
  border: 0;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

// Alignment
.skc-list-item.skc-list-item--top {
  align-items: flex-start;
}

.skc-list-item.skc-list-item--center {
  align-items: center;
}

.skc-list-item.skc-list-item--bottom {
  align-items: flex-end;
}

// Lines
.skc-list-item.skc-list-item--3-lines {
  padding-block: 0.75rem;
}

// State layer
.skc-list-item.skc-list-item--state-layer {
  position: relative;
  overflow: hidden;
  cursor: pointer;

  &::before {
    @include mix.state-layer();
    background-color: var(--on-surface);
  }

  &:hover::before {
    opacity: 0.08;
  }

  &:focus,
  &:active {
    &::before {
      opacity: 0.12;
    }
  }
}

.skc-list-item__ripple {
  @include mix.ripple();
  background-color: var(--on-surface);
}

// Image
.skc-list-item > img {
  width: 3.5rem;
  height: 3.5rem;
  background-color: var(--surface-variant);
}

@include mix.breakpoint("sm") {
  .skc-columns > .skc-list-item.skc-list-item--state-layer {
    border-radius: var(--rounded-md);
  }
}
