////
/// **Menu item**
/// An action/option inside a temporary list.
///
/// @link https://docs.google.com/document/d/1ks5DrzfC_xLg48EFtZALoVQpJpxhsK2It3GDhAhZCcE/edit?usp=sharing#heading=h.kvecy6esdzke SKCom documentation
////

@use "../abstracts/mixins.scss" as mix;
@use "../abstracts/typography.scss" as type;

.skc-menu-item {
  position: relative;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
  padding: 0.5rem 1.5rem 0.5rem 1rem;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;

  // State layer
  &::before {
    @include mix.state-layer();
    background-color: var(--on-surface);
  }

  &:hover::before {
    opacity: 0.08;
  }

  &:focus,
  &:active {
    &::before {
      opacity: 0.12;
    }
  }

  &.skc-menu-item--selected::before {
    opacity: 0.12;
    background-color: var(--primary);
  }
}

.skc-menu-item__icon .skc-icon {
  @include mix.icon(0, 400, 0, 24);
}

.skc-menu-item__label {
  @include type.font("body-large");
  flex-grow: 1;
  margin-block: 0.5rem;
  text-align: left;
  color: var(--on-surface);

  &.skc-menu-item--selected {
    color: var(--on-primary);
  }
}

.skc-menu-item__metadata {
  @include type.font("body-large");
  text-align: right;
  color: var(--on-surface-variant);
}

.skc-menu-item__ripple {
  @include mix.ripple();
  background-color: var(--on-surface);

  .skc-menu-item--selected & {
    background-color: var(--primary);
  }
}
