////
/// **Navigation Drawer Section**
/// A group of destinations within a Navigation Drawer.
////

@use "../abstracts/typography.scss" as type;

.skc-nav-drawer-section {
  display: flex;
  flex-direction: column;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.skc-nav-drawer-section__header {
  @include type.font("title-small");
  margin-block: 0;
  padding: 1.125rem 1rem;
}
