////
/// **Navigation Bar**
/// A Navigation Bar/Rail provides persistent access to all top-level pages. On
/// larger screens, a Navigation Bar transforms into a Navigation Rail.
///
/// @link https://docs.google.com/document/d/1UJeTpXcB2MBL9Df4GUUeZ78xb-RshNIC_-LCIKmCo-8/edit?usp=sharing#heading=h.x32yas2zvfe SKCom documentation
////

@use "../abstracts/mixins.scss" as mix;

.skc-nav-bar {
  overflow-x: auto;
  width: 100vw;
  background-color: var(--surface-2);
}

.skc-nav-bar__toggle-and-fab {
  height: 0;
}

.skc-nav-bar__toggle-and-fab .skc-button,
.skc-nav-bar__brand,
.skc-nav-bar__end {
  display: none;
}

.skc-nav-bar__destinations {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  box-sizing: border-box;
  width: 100%;
  max-width: 32rem;
  margin: 0 auto;
  padding: 0 0.5rem;

  .skc-nav-bar-item {
    width: 100%;
  }
}

@include mix.breakpoint("sm") {
  .skc-nav-bar {
    display: flex;
    overflow: hidden auto;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 2.5rem;
    width: 5rem;
    height: 100vh;
    padding: 2.75rem 0 3.5rem;
    background-color: var(--surface);
  }

  @supports (height: 100dvh) {
    .skc-nav-bar {
      height: 100dvh;
    }
  }

  .skc-nav-bar__main {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 2.5rem;
  }

  .skc-nav-bar__toggle-and-fab {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.25rem;
    height: fit-content;

    .skc-button {
      display: flex;
      color: var(--on-surface);

      &::before,
      .skc-button__ripple {
        background-color: var(--on-surface);
      }
    }

    .skc-nav-bar__brand {
      display: block;

      &:not(:last-child) {
        margin-bottom: 0.75rem;
      }
    }

    .skc-fab {
      box-shadow: none;
    }

    // Limit the effect of FAB suddenly changing to a standard FAB
    .skc-fab__wrapper {
      position: relative;
      width: 3.5rem;
      height: 3.5rem;

      > .skc-fab {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  .skc-nav-bar__destinations,
  .skc-nav-bar__end {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.25rem;
    margin: 0;
    padding: 0.3125rem;
  }
}
