////
/// **Navigation Drawer**
/// A list of all destinations within an app.
///
/// @link https://docs.google.com/document/d/1ks5DrzfC_xLg48EFtZALoVQpJpxhsK2It3GDhAhZCcE/edit?usp=sharing#heading=h.2czacyab5zgs SKCom documentation
////

.skc-nav-drawer {
  z-index: 90;
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  width: calc(100% - 4rem);
  max-width: 22.5rem;
  height: 100vh;
  padding: 0.75rem;
  border-radius: var(--rounded-lg-end);
  background-color: var(--surface-container-low);

  // Divider
  .skc-nav-drawer-section:not(:last-child)::after {
    width: calc(100% - 2rem);
    height: 1px;
    margin-left: 1rem;
    content: "";
    background-color: var(--outline-variant);
  }
}

@supports (height: 100dvh) {
  .skc-nav-drawer {
    height: 100dvh;
  }
}
