////
/// **Page Header**
/// There’s exactly one Page Header on every page. It displays the title (in
/// the only `<h1>` on the page), the back Button for navigating up, and
/// the App Drawer.
////

@use "../abstracts/mixins.scss" as mix;
@use "../abstracts/typography.scss" as type;
@use "./content-layout.scss";

.skc-page-header {
  @extend .skc-content-layout;
  padding-block: 1rem 0.5rem;

  .skc-app-drawer__toggle {
    white-space: nowrap;
  }
}

.skc-page-header__blobs {
  position: absolute;
  z-index: -10;
  inset: 0;
  bottom: auto;
  pointer-events: none;
}

.skc-page-header__blobs--desktop {
  display: none;
}

.skc-page-header__blob-primary {
  fill: var(--primary-95);
}

.skc-page-header__blob-secondary {
  fill: var(--secondary-90);
}

@include mix.scheme("dark") {
  .skc-page-header__blob-primary {
    fill: var(--primary-20);
  }

  .skc-page-header__blob-secondary {
    fill: var(--secondary-20);
  }
}

.skc-page-header__minimized {
  position: fixed;
  isolation: isolate;
  z-index: 80;
  inset: 0;
  bottom: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.skc-page-header__minimized {
  padding: 1rem 0 0 0.5rem;
}

.skc-page-header__content {
  @extend .skc-content-layout__content;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  gap: 0 0.25rem;
  padding-inline: 0.5rem 1rem;
}

.skc-page-header__nav-toggle {
  display: flex;
}

.skc-page-header__text {
  overflow: hidden;
  flex-grow: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@include mix.breakpoint("sm") {
  .skc-page-header {
    padding-top: 1.25rem;
  }

  .skc-page-header__blobs--mobile {
    display: none;
  }

  .skc-page-header__blobs--desktop {
    display: block;
  }

  .skc-page-header__minimized {
    display: none;
  }

  .skc-page-header__nav-toggle {
    display: none;
  }

  .skc-page-header__content {
    column-gap: 0.5rem;
    padding-inline: 0;

    > .skc-button:first-child {
      margin-left: -0.5rem;
    }
  }
}

@include mix.breakpoint("lg") {
  .skc-page-header__blobs {
    top: -5rem;
  }
}
