////
/// **Page Header**
/// There’s exactly one Page Header on every page. It displays the title (in
/// the only `<h1>` on the page), the back Button for navigating up, and
/// the App Drawer.
///
/// @link https://docs.google.com/document/d/1ks5DrzfC_xLg48EFtZALoVQpJpxhsK2It3GDhAhZCcE/edit?usp=sharing#heading=h.5w06ou3fwzsd SKCom documentation
////

@use "../abstracts/mixins.scss" as mix;
@use "../abstracts/typography.scss" as type;
@use "./content-layout.scss";

.skc-page-header {
  @extend .skc-content-layout;
  padding-block: 1.5rem 0.5rem;
}

.skc-page-header__blobs {
  position: absolute;
  z-index: -10;
  inset: 0;
  bottom: auto;
}

.skc-page-header__blobs--desktop {
  display: none;
}

.skc-page-header__blob-primary {
  fill: var(--primary-95);
}

.skc-page-header__blob-secondary {
  fill: var(--secondary-90);
}

@include mix.scheme("dark") {
  .skc-page-header__blob-primary {
    fill: var(--primary-20);
  }

  .skc-page-header__blob-secondary {
    fill: var(--secondary-20);
  }
}

.skc-page-header__content {
  @extend .skc-content-layout__content;
  display: flex;
  flex-direction: row;
  gap: 0 0.5rem;
  padding-inline: 0.5rem 1rem;
}

.skc-page-header__nav-toggle {
  display: flex;
}

.skc-page-header__text {
  flex-grow: 1;
  margin-inline: 1rem;
}

@include mix.breakpoint("sm") {
  .skc-page-header__blobs--mobile {
    display: none;
  }

  .skc-page-header__blobs--desktop {
    display: block;
  }

  .skc-page-header__nav-toggle {
    display: none;
  }

  .skc-page-header__content {
    padding-inline: 0;

    > .skc-button:first-child {
      margin-left: -0.5rem;
    }
  }

  .skc-page-header__text {
    margin-inline: 0;
  }
}

@include mix.breakpoint("lg") {
  .skc-page-header__blobs {
    top: -2rem;
  }
}
