////
/// **Progress**
/// A Progress indicates that something is ongoing. It can also indicate how
/// much of that something has been done.
///
/// @link https://docs.google.com/document/d/1UJeTpXcB2MBL9Df4GUUeZ78xb-RshNIC_-LCIKmCo-8/edit?usp=sharing#heading=h.12x5jav7hhzm SKCom documentation
////

@use "../abstracts/mixins.scss" as mix;

// Linear determinate
.skc-progress--linear {
  .skc-progress__track {
    height: 0.25rem;
    background-color: var(--surface-variant);
  }

  .skc-progress__indicator {
    @include mix.transition(
      width,
      var(--motion-short-3),
      var(--easing-standard)
    );
    height: 100%;
    background-color: var(--primary);
  }
}

// Linear indeterminate
.skc-progress--indeterminate.skc-progress--linear {
  .skc-progress__track {
    overflow-x: hidden;
  }

  .skc-progress__indicator {
    transform: translateX(-100%);
    animation: linear-dash 1.5s ease-in-out infinite;
  }
}

@keyframes linear-dash {
  100% {
    transform: scaleX(0.5) translateX(150%);
  }
}

// Circular determinate
.skc-progress--circular {
  .skc-progress__track {
    transform: rotate(270deg);
    width: 3rem;
    height: 3rem;
  }

  .skc-progress__indicator {
    stroke: var(--primary);
    stroke-dasharray: 200;
  }
}

// Circular indeterminate
.skc-progress--indeterminate.skc-progress--circular {
  .skc-progress__track {
    transform: rotate(0deg);
    animation: circular-rotate 2s linear infinite;
  }

  .skc-progress__indicator {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: circular-dash 1.5s ease-in-out infinite;
  }
}

@keyframes circular-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes circular-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -2.25rem;
  }
  100% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -7.75rem;
  }
}
