////
/// **Root Layout**
///
/// The container of everything inside an application. Components which must
/// appear only once in like Navigation Drawer, Navigation Bar, FAB, and Page
/// Header only work optimally as direct descendants of Root Layout.
///
/// Root Layout handles positioning of components and responsiveness.
///
/// @link https://docs.google.com/document/d/1UJeTpXcB2MBL9Df4GUUeZ78xb-RshNIC_-LCIKmCo-8/edit?usp=sharing#heading=h.q72flzs8g2k1 SKCom documentation
////

@use "../abstracts/mixins.scss" as mix;

body {
  overflow-x: hidden;
  margin: 0;
}

.skc-root-layout {
  font-size: var(--text-base);
  padding-bottom: 5rem;
}

.skc-root-layout > .skc-nav-bar {
  position: fixed;
  z-index: 70;
  bottom: 0;
  left: 0;

  .skc-fab {
    position: fixed;
    right: 1rem;
    bottom: 5rem + 1rem;
  }
}

.skc-root-layout > .skc-nav-drawer {
  position: fixed;
  z-index: 85;
  top: 0;
  left: 0;
}

.skc-root-layout > .skc-progress {
  margin-bottom: -0.25rem;
}

.skc-scrim {
  position: fixed;
  z-index: 90;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  background-color: var(--black);
}

@include mix.breakpoint("sm") {
  .skc-root-layout {
    padding-bottom: 0;
  }

  .skc-root-layout > .skc-nav-bar {
    top: 0;
    bottom: initial;

    ~ .skc-progress {
      margin-left: 5rem;
    }

    .skc-fab {
      position: relative;
      right: 0;
      bottom: 0;
    }
  }
}
