////
/// **Search**
/// Search allows the user to quickly find something using a query. It can also
/// immediately show some useful results as the user is typing, utilizing List.
///
/// @link https://docs.google.com/document/d/1ks5DrzfC_xLg48EFtZALoVQpJpxhsK2It3GDhAhZCcE/edit?usp=sharing#heading=h.xe5891qaeswr SKCom documentation
////

@use "../abstracts/mixins.scss" as mix;
@use "../abstracts/typography.scss" as type;

.skc-search {
  @include mix.transition(
    border-radius,
    var(--motion-short-2),
    var(--easing-standard)
  );
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.25rem;
  padding-inline: 0.5rem;
  border-radius: var(--rounded-xl);
  background-color: var(--surface-3);

  &::before {
    @include mix.state-layer();
    background-color: var(--on-surface);
  }

  &:has(.skc-search__input:hover) {
    @include mix.transition(
      border-radius,
      var(--motion-medium-4),
      var(--easing-standard)
    );
  }

  &:has(.skc-search__input:focus) {
    margin-bottom: -0.75px;
    border-bottom: 1px solid var(--outline);
    border-radius: var(--rounded-xl) var(--rounded-xl) 0 0;
  }

  .skc-button {
    z-index: 20;

    .skc-button__icon .skc-icon {
      color: var(--on-surface);
    }

    &::before,
    .skc-button__ripple {
      background-color: var(--on-surface);
    }
  }
}

.skc-search__input {
  @include type.font("body-large");
  flex-grow: 1;
  padding: 1rem 0 1rem 1rem;
  background-color: transparent;

  // Remove default clear button
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }

  &:focus {
    z-index: 20;
    outline: none;
  }

  &::placeholder {
    font-family: var(--font-display);
  }

  .skc-button ~ & {
    padding-left: 0rem;
  }
}

.skc-search__list {
  position: absolute;
  z-index: 20;
  inset: calc(3.5rem + 1px) 0 auto 0;
  overflow: hidden;
  min-height: 4.5rem;
  padding-block: 0.5rem;
  border-radius: 0 0 var(--rounded-xl) var(--rounded-xl);
  background-color: var(--surface-3);

  .skc-list {
    gap: 0.25rem;
  }

  .skc-list-item.skc-list-item--state-layer {
    border-radius: 0;
  }
}

// Blur capture
.skc-search__blur-capture {
  position: fixed;
  z-index: 10;
  inset: 0;
}
