////
/// **Section**
/// Section is a way to group content under one Header.
///
/// @link https://docs.google.com/document/d/1ks5DrzfC_xLg48EFtZALoVQpJpxhsK2It3GDhAhZCcE/edit?usp=sharing#heading=h.cpfnymlipawc SKCom documentation
////

.skc-section {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.skc-section:has(> .skc-section) {
  gap: 1.25rem;
}
