////
/// **Select**
/// Sometimes it’s impractical to show all options at a time with a radio
/// group. Select allows the user to choose from options shown on a temporary
/// surface.
///
/// @link https://docs.google.com/document/d/1UJeTpXcB2MBL9Df4GUUeZ78xb-RshNIC_-LCIKmCo-8/edit?usp=sharing#heading=h.hh9ts22t8gjy SKCom documentation
////

@use "../abstracts/mixins.scss" as mix;
@use "../abstracts/typography.scss" as type;
@use "../components/text-field.scss";

.skc-select__anchor {
  position: relative;
}

.skc-select {
  @include mix.transition(
    border-color,
    var(--motion-short-4),
    var(--easing-standard)
  );
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 3.5rem;
  -webkit-tap-highlight-color: transparent;
}

.skc-select--outlined {
  border: 1px solid var(--outline);
  border-radius: var(--rounded-xs);

  &:hover {
    border-color: var(--on-surface);
  }

  &:focus-within {
    border: 2px solid var(--primary);
  }

  .skc-select__label {
    background-color: var(--background);
    inset: -0.5rem auto auto 0.75rem;
  }
}

.skc-select ~ .skc-menu {
  inset: 3.5rem 0 auto 0;
  width: 100%;
}

.skc-select__label {
  @extend .skc-text-field__label;
  @include type.font("body-small");
  font-family: var(--font-display);

  .skc-select:focus-within & {
    color: var(--primary);
  }
}

.skc-select__value {
  @include type.font("body-large");
  flex-grow: 1;
  text-align: left;
  padding: 1rem;
}

.skc-select__leading {
  @extend .skc-text-field__leading;
}

.skc-select__trailing {
  @extend .skc-text-field__trailing;
}

.skc-select__helper-msg {
  @extend .skc-text-field__helper-msg;
  text-align: left;
}

.skc-select__blur-capture {
  position: fixed;
  inset: 0;
  z-index: 10;
}
