////
/// **Table Row**
/// A row of a Table, must be within a table area (Table Head, Table Body, or
/// Table Foot).
////

@use "../abstracts/mixins.scss" as mix;

.skc-table-row {
  position: relative;
  display: table-row;

  &:has(
      > .skc-table-cell > .skc-table-cell__content > .skc-table-row__actions
    ) {
    > .skc-table-cell {
      position: relative;

      &::before {
        @include mix.state-layer();
        background-color: var(--on-surface);
      }
    }

    &:hover > .skc-table-cell::before {
      opacity: 0.08;
    }

    &:focus-within > .skc-table-cell::before {
      opacity: 0.12;
    }
  }

  &:hover,
  &:focus-within {
    > .skc-table-cell > .skc-table-cell__content > .skc-table-row__actions {
      opacity: 1;
    }
  }
}

.skc-table-row__actions {
  @include mix.transition(
    opacity,
    var(--motion-short-4),
    var(--easing-standard)
  );
  position: absolute;
  z-index: 10;
  inset: calc((1.25rem + 2px) * -1) auto auto 0.75rem;
  opacity: 0;
  border-radius: var(--rounded-full);
  background-color: var(--surface);
}
