////
/// **Table Head**
/// The head area of a Table.
////

.skc-table-head {
  display: table-header-group;
  background-color: var(--surface-container-low);
}

.skc-table-head--fixed {
  position: sticky;
  inset: 0 0 auto 0;
}
