////
/// **Table**
/// A Table displays information in columns and rows, each row representing a
/// set of data in each aspect, represented by columns.
///
/// @link https://docs.google.com/document/d/1UJeTpXcB2MBL9Df4GUUeZ78xb-RshNIC_-LCIKmCo-8/edit?usp=sharing#heading=h.10em52qqcep7 SKCom documentation
////

.skc-table {
  overflow: auto;
  border: 2px solid var(--outline-variant);
  border-radius: var(--rounded-xl);
  background-color: var(--surface-2);
}

.skc-table__content {
  width: 100%;
  border-collapse: collapse;
  text-indent: 0;
  background-color: var(--surface);
}
