////
/// **Tabs Container**
/// A group of Tabs. Tabs allow the user to switch between pages on the same
/// level of a page hierarchy. For example, an Overview, Students, and Teachers
/// page of a class.
///
/// @link https://docs.google.com/document/d/1ks5DrzfC_xLg48EFtZALoVQpJpxhsK2It3GDhAhZCcE/edit?usp=sharing#heading=h.pfftt8s0sg20 SKCom documentation
////

.skc-tabs-container {
  border-bottom: 1px solid var(--surface-variant);
}

.skc-tabs-container__content {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  width: 100%;
  max-width: 32rem;
  margin: 0;
  margin-inline: auto;
  padding: 0;
  list-style: none;

  > li {
    width: 100%;
  }
}

.skc-section .skc-tabs-container {
  margin-inline: 0;
}
