@use "../abstracts/palette.scss";
@use "../components/button.scss";
@use "../components/icon.scss" as ci;

.skc-toggle-button {
  position: relative;
  display: grid;
  place-content: center;
  overflow: hidden;
  padding: 0.5rem;
  transition: background-color, color var(--motion-short-4) var(--easing-standard);
  border-radius: var(--rounded-full);

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    transition: opacity var(--motion-short-4) var(--easing-standard);
    pointer-events: none;
    opacity: 0;
    border-radius: inherit;
  }

  &:hover::before {
    opacity: 0.08;
  }

  &:focus,
  &:active {
    &::before {
      opacity: 0.12;
    }
  }
}

.skc-icon {
  .skc-toggle-button & {
    @include ci.icon(0, 400, 0, 24);
    transition: font-variation-settings var(--motion-short-4)
    var(--easing-standard);
  }

  .skc-toggle-button:hover & {
    @include ci.icon(0, 600, 0, 24);
  }

  .skc-toggle-button:active & {
    @include ci.icon(0, 300, 0, 24);
  }

  .skc-toggle-button.skc-toggle-button--selected & {
    @include ci.icon(1, 400, 0, 24);
  }

  .skc-toggle-button.skc-toggle-button--selected:hover & {
    @include ci.icon(1, 600, 0, 24);
  }

  .skc-toggle-button.skc-toggle-button--selected:active & {
    @include ci.icon(1, 300, 0, 24);
  }
}

.skc-toggle-button__ripple {
  @extend .skc-button__ripple;
}

.skc-toggle-button.skc-toggle-button--filled {
  color: var(--primary);
  background-color: var(--surface-variant);

  &::before,
  .skc-toggle-button__ripple {
    background-color: var(--primary);
  }

  &.skc-toggle-button--selected {
    color: var(--on-primary);
    background-color: var(--primary);

    &::before,
    .skc-toggle-button__ripple {
      background-color: var(--on-primary);
    }
  }

  &.skc-toggle-button--dangerous {
    color: var(--error);
    background-color: var(--error-container);

    &::before,
    .skc-toggle-button__ripple {
      background-color: var(--error);
    }

    &.skc-toggle-button--selected {
      color: var(--on-error);
      background-color: var(--error);

      &::before,
      .skc-toggle-button__ripple {
        background-color: var(--on-error);
      }
    }
  }
}

.skc-toggle-button.skc-toggle-button--tonal {
  color: var(--on-surface-variant);
  background-color: var(--surface-variant);

  &::before,
  .skc-toggle-button__ripple {
    background-color: var(--on-surface-variant);
  }

  &.skc-toggle-button--selected {
    color: var(--on-secondary-container);
    background-color: var(--secondary-container);

    &::before,
    .skc-toggle-button__ripple {
      background-color: var(--on-secondary-container);
    }
  }

  &.skc-toggle-button--dangerous {
    color: var(--error);
    background-color: var(--error-container);

    &::before,
    .skc-toggle-button__ripple {
      background-color: var(--error);
    }

    &.skc-toggle-button--selected {
      color: var(--on-error);
      background-color: var(--error);

      &::before,
      .skc-toggle-button__ripple {
        background-color: var(--on-error);
      }
    }
  }
}

.skc-toggle-button.skc-toggle-button--outlined {
  color: var(--on-surface);
  border: 1px solid var(--outline);

  &::before,
  .skc-toggle-button__ripple {
    background-color: var(--on-surface);
  }

  &.skc-toggle-button--selected {
    color: var(--inverse-on-surface);
    border-color: var(--inverse-surface);
    background-color: var(--inverse-surface);

    &::before,
    .skc-toggle-button__ripple {
      background-color: var(--inverse-on-surface);
    }
  }

  &.skc-toggle-button--dangerous {
    color: var(--error);

    &::before,
    .skc-toggle-button__ripple {
      background-color: var(--error);
    }

    &.skc-toggle-button--selected {
      color: var(--error-container);
    }
  }
}

.skc-toggle-button.skc-toggle-button--standard {
  color: var(--on-surface);

  &::before,
  .skc-toggle-button__ripple {
    color: var(--on-surface);
  }

  &.skc-toggle-button--selected {
    color: var(--primary);

    &::before,
    .skc-toggle-button__ripple {
      color: var(--primary);
    }
  }
}
