@use "../../utils/max-lines" as um;

%input {
  font-size: var(--text-base);
  color: var(--inverse-surface);
  background-color: var(--surface-2);
  border-radius: var(--rounded-sm) var(--rounded-sm) 0 0;
  border-bottom: 2px solid var(--inverse-surface);
  height: 2.6875rem;
  margin-bottom: 1.5rem;
}

.input__helper {
  @include um.max-lines(1, break-all);
  position: absolute;
  top: 2.6875rem;
  left: 0.5rem;
  color: var(--outline);
  font-size: 0.75rem;
}

.input__error {
  @extend .input__helper;
  color: var(--error);
}

@mixin input() {
  @extend %input;
}
