@use "Blank" as ci;

.input--persistent {
  position: relative;
  color: var(--inverse-surface);
  accent-color: var(--secondary);
  font-family: var(--font-sans);
  transition: border var(--animation-speed) var(--animation-timing);

  input {
    @include ci.input();
    width: 100%;
    padding: 1rem 0.5rem 0.25rem;
    outline: none;

    &:focus {
      border-color: var(--primary);

      ~ .input--persistent__label {
        color: var(--primary);
      }
    }

    &:invalid {
      border-color: var(--error);

      ~ .input--persistent__label {
        color: var(--error);
      }
    }
  }
}

.input--persistent__label {
  position: absolute;
  top: 0.25rem;
  left: 0.5rem;
  font-size: var(--text-xs);
  font-family: var(--font-display);
  transition: color var(--animation-speed) var(--animation-timing);
}
