@use "../../utils/max-lines" as um;

.radio {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 0.5rem;

  input[type="radio"],
  input[type="checkbox"] {
    margin: 0.25rem 0;
  }

  label {
    font-size: var(--text-base);
    font-weight: var(--font-regular);
    font-family: var(--font-sans);
  }

  &.error {
    accent-color: var(--error);
    color: inherit;
    background-color: initial;

    .radio__helper--auto {
      display: none;
    }

    .radio__error--auto {
      display: inline-block;
    }
  }
}

// Increase the radio/checkbox size
// Transform scale pixelates the button, so the non-standard
// zoom is used instead if supported

@supports (zoom: 2) {
  .radio {
    input[type="radio"],
    input[type="checkbox"] {
      zoom: 1.25;
      margin: 0.125rem 0;
    }
  }
}
@supports not (zoom: 2) {
  .radio {
    input[type="radio"],
    input[type="checkbox"] {
      transform: scale(1.25);
      margin: 0.25rem 0;
    }
  }
}

.radio__label {
  font-weight: var(--font-medium);
  font-family: var(--font-display);
}

.radio__helper {
  @include um.max-lines(1, break-all);
  color: var(--outline);
  font-size: 0.75rem;
}

.radio__error {
  @extend .radio__helper;
  color: var(--error);
}

.radio__helper--auto {
  @extend .radio__helper;
  display: inline-block;
}

.radio__error--auto {
  @extend .radio__error;
  display: none;
}
