.search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--surface);
  border-radius: 9999px;
  overflow: hidden;

  button {
    display: grid;
    place-items: center;
    height: 100%;
    outline: none;
    transition: background-color var(--animation-speed) var(--animation-timing);

    &:hover {
      transition: none;
      background-color: var(--primary-translucent-08);
    }

    &:focus-visible,
    &:active {
      transition: none;
      background-color: var(--primary-translucent-12);
    }

    &:first-child {
      padding: 1rem 0.5rem 1rem 1rem;
    }

    &:last-child {
      padding: 1rem 1rem 0.5rem 1rem;
    }
  }

  [type="search"] {
    width: 100%;
    padding: 0 0.5rem;
    font-size: var(--text-base);
    font-family: var(--font-sans);
    border: none;
    outline: none;
    color: var(--on-surface);
    background-color: transparent;

    &::placeholder {
      font-family: var(--font-display);
    }
  }
}

@media (prefers-color-scheme: light) {
  .search {
    box-shadow: var(--shadow-1);
    transition: box-shadow var(--animation-speed) var(--animation-timing);

    &:focus-within {
      box-shadow: var(--shadow-2);
    }
  }
}

@media (prefers-color-scheme: dark) {
  .search {
    outline: 2px solid var(--outline);
    transition: outline var(--animation-speed) var(--animation-timing);

    &:focus-within {
      outline: 2px solid var(--primary);
    }
  }
}
