// Base
.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1.5rem;
  font-weight: 500;
  border-radius: 9999px;
  transition: background-color var(--animation-speed) var(--animation-timing),
    box-shadow var(--animation-speed) var(--animation-timing);

  &:hover {
    transition: box-shadow var(--animation-speed) var(--animation-timing);
  }

  &:active {
    transition: none;
  }
}

// Filled button
.btn--filled {
  @extend .btn;
  color: var(--on-primary);
  background-color: var(--primary);

  &:hover {
    background-color: var(--primary-blended-08);
    box-shadow: var(--shadow-1);
  }

  &:focus {
    background-color: var(--primary-blended-08);
  }

  &:active {
    background-color: var(--primary-blended-12);
    box-shadow: none;
  }
}

// Outlined button
.btn--outlined {
  @extend .btn;
  color: var(--primary);
  background-color: var(--surface);
  border: 2px solid var(--outline);

  &:hover {
    background-color: var(--primary-translucent-08);
  }

  &:focus,
  &:active {
    background-color: var(--primary-translucent-12);
    border-color: var(--primary);
  }
}

// Text button
.btn--text {
  @extend .btn;
  padding-inline: 0.5rem;
  color: var(--primary);

  &:hover {
    background-color: var(--primary-translucent-08);
  }

  &:focus,
  &:active {
    background-color: var(--primary-translucent-12);
  }
}

// Icon button
.btn--icon {
  padding: 0;
}
