// Base
.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  position: relative;
  padding: 0.5rem 1.5rem;
  font-weight: var(--font-medium);
  font-family: var(--font-display);
  border-radius: 9999px;
  overflow: hidden;
  transition: box-shadow var(--animation-speed) var(--animation-timing);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: background-color var(--animation-speed) var(--animation-timing);
  }

  &:hover {
    &::before {
      transition: box-shadow var(--animation-speed) var(--animation-timing);
    }
  }

  &:active {
    &::before {
      transition: none;
    }
  }
}

// Filled button
.btn--filled {
  @extend .btn;
  color: var(--on-primary);
  background-color: var(--primary);

  &:hover {
    box-shadow: var(--shadow-1);

    &::before {
      background-color: var(--on-primary-translucent-08);
    }
  }

  &:focus::before {
    background-color: var(--on-primary-translucent-08);
  }

  &:active {
    box-shadow: none;

    &::before {
      background-color: var(--on-primary-translucent-12);
    }
  }
}

// Tonal btton
.btn--tonal {
  @extend .btn;
  color: var(--on-secondary-container);
  background-color: var(--secondary-container);

  &:hover {
    box-shadow: var(--shadow-1);

    ::before {
      background-color: var(--secondary-translucent-08);
    }
  }

  &:focus::before {
    background-color: var(--secondary-translucent-12);
  }

  &:active {
    transition: none;
    box-shadow: none;

    &::before {
      background-color: var(--secondary-translucent-12);
    }
  }
}

// Outlined button
.btn--outlined {
  @extend .btn;
  color: var(--primary);
  background-color: var(--surface);
  border: 2px solid var(--outline);
  transition: border var(--animation-speed) var(--animation-timing);

  &:hover::before {
    background-color: var(--primary-translucent-08);
  }

  &:focus,
  &:active {
    border-color: var(--primary);

    &::before {
      background-color: var(--primary-translucent-12);
    }
  }
}

// Text button
.btn--text {
  @extend .btn;
  padding: 0 0.5rem;
  color: var(--primary);

  &:hover {
    background-color: var(--primary-translucent-08);
  }

  &:focus,
  &:active {
    background-color: var(--primary-translucent-12);
  }
}

// Icon button
.btn--icon {
  padding: 0;
}
