// Imports
@use "../utils/has-action.scss" as uh;
@use "../utils/max-lines.scss" as um;

// Base
.card {
  width: 100%;
  text-align: left;
  font-size: var(--text-base);
  border-radius: var(--rounded-lg);
  overflow: hidden;
}

// Card modifiers
.card--elevated {
  @extend .card;
  background-color: var(--surface);
  box-shadow: var(--shadow-1);

  &.card--has-action {
    @include uh.has-action("primary");
    transition: box-shadow var(--animation-speed) var(--animation-timing);

    &:hover {
      box-shadow: var(--shadow-2);
    }

    &:active {
      box-shadow: var(--shadow-1);
      transition: none;
    }
  }
}

.card--outlined {
  @extend .card;
  background-color: var(--surface);
  outline: 2px solid var(--outline);
  outline-offset: -2px;
  padding: 2px;

  &.card--has-action {
    @include uh.has-action("primary");

    &:focus {
      outline: 2px solid var(--primary);
    }
  }
}

.card--tonal {
  @extend .card;
  background-color: var(--surface-variant);

  &.card--has-action {
    @include uh.has-action("primary");
    transition: box-shadow var(--animation-speed) var(--animation-timing);

    &:hover {
      box-shadow: var(--shadow-1);
    }

    &:active {
      box-shadow: none;
      transition: none;
    }
  }
}

// Elements in common
.card__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 0.75rem 1rem;

  .card__header__text {
    flex-grow: 1;

    > * {
      @extend .max-lines-1;
    }
  }
}

.card__icon {
  display: flex;
  color: var(--primary);
  font-size: var(--text-3xl);
}

.card__media {
  background-color: var(--surface-variant);
}

// Stacked Card
.card--stacked {
  @extend .card;
  display: flex;
  flex-direction: column;

  .card__supporting-text {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 0.5rem;
    padding: 1rem;
  }

  .card__actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 0.75rem;
    padding: 1rem;
  }
}

// Horizontal Card
.card--horizontal {
  @extend .card;
  display: flex;
  flex-direction: row;
  align-items: center;

  .card__media {
    height: 5rem;
    aspect-ratio: 1 / 1;
  }
}
