@use "Card";

.card-list {
  display: flex;
  flex-direction: column;
}

// Search section
.card-list__search {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 2.25rem 0.5rem 1rem;
}

// List section
.card-list__list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0 0.5rem 0.5rem;

  &--no-group {
    @extend .card-list__items;
  }
}

// List Group
.card-list__group {
  @extend .card-list__list;
  padding: 0;
}

.card-list__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  gap: 0.5rem;
  font-size: var(--text-base);
}

.card-list__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: var(--text-2xl);
  font-weight: var(--font-bold);
  font-family: var(--font-display);
}

.card-list__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  width: 100%;
  font-family: var(--font-sans);
  border-radius: var(--rounded-lg);

  &--inactive {
    @extend .card-list__item;
    color: var(--on-surface);
    background-color: var(--surface-1);
    transition: background-color var(--animation-speed) var(--animation-timing);

    &:hover,
    &:focus {
      transition: none;
      background-color: var(--surface-2);
    }
  }

  &--active {
    @extend .card-list__item;
    color: var(--on-secondary-container);
    background-color: var(--secondary-container);
    box-shadow: var(--shadow-1);
    transition: box-shadow var(--animation-speed) var(--animation-timing);

    &:hover,
    &:focus {
      box-shadow: var(--shadow-2);
    }
  }
}
