// Base
.card {
  font-size: var(--text-base);
  border-radius: var(--rounded-lg);
  overflow: hidden;
}

// Card modifiers
.card--elevated {
  @extend .card;
  background-color: var(--surface);
  box-shadow: var(--shadow-1);
}

.card--outlined {
  @extend .card;
  background-color: var(--surface);
  outline: 2px solid var(--outline);
}

.card--tonal {
  @extend .card;
  background-color: var(--surface-variant);
}

// Elements in common
.card__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
  gap: 1rem;
  padding: 0.75rem;
}

.card__end {
  display: flex;
  flex-direction: row;
  padding: 0.75rem;
}

.card__icon {
  display: flex;
  color: var(--primary);
  font-size: var(--text-3xl);
}

.card__media {
  background-color: var(--surface-variant);
}

// Stacked Card
.card--stacked {
  @extend .card;
  display: flex;
  flex-direction: column;
}

// Horizontal Card
.card--horizontal {
  @extend .card;
  display: flex;
  flex-direction: row;
  align-items: center;

  .card__media {
    width: 5rem;
    aspect-ratio: 1 / 1;
  }
}
