@use "../abstracts/breakpoints" as b;
@use "../utils/colors" as uc;

.fab {
  position: fixed;
  bottom: 6.375rem;
  right: 1rem;
  font-size: var(--text-3xl);
  font-family: var(--font-display);
  border-radius: 1rem;
  box-shadow: var(--shadow-3);
  transition: box-shadow var(--animation-speed) var(--animation-timing);
  overflow: hidden;
  z-index: 30;

  &__content {
    padding: 1rem;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: background-color var(--animation-speed) var(--animation-timing);
  }

  // States
  &:hover {
    box-shadow: var(--shadow-4);

    &::before {
      transition: none;
    }
  }

  &:active {
    transition: none;
    box-shadow: var(--shadow-3);

    &::before {
      transition: none;
    }
  }

  &:focus-visible {
    box-shadow: var(--shadow-3);

    &::before {
      transition: none;
    }
  }

  // Types
  &--large {
    @extend .fab;
    font-size: var(--text-6xl);

    &__content {
      padding: 1.75rem;
    }
  }

  &--extended {
    @extend .fab;
    font-size: var(--text-base);

    &__content {
      padding: 1rem 1.25rem 1rem 1rem;
    }
  }

  // Colours
  &--surface {
    color: var(--primary);
    background-color: var(--surface-3);

    &:hover {
      &::before {
        background-color: var(--primary-translucent-08);
      }
    }

    &:focus-visible {
      &::before {
        background-color: var(--primary-translucent-12);
      }
    }
  }

  &--primary {
    @extend .container-primary;

    &:hover {
      &::before {
        background-color: var(--primary-translucent-08);
      }
    }

    &:focus-visible {
      &::before {
        background-color: var(--primary-translucent-12);
      }
    }
  }

  &--secondary {
    @extend .container-secondary;

    &:hover {
      &::before {
        background-color: var(--secondary-translucent-08);
      }
    }

    &:focus-visible {
      &::before {
        background-color: var(--secondary-translucent-12);
      }
    }
  }

  &--tertiary {
    @extend .container-tertiary;

    &:hover {
      &::before {
        background-color: var(--tertiary-translucent-08);
      }
    }

    &:focus-visible {
      &::before {
        background-color: var(--tertiary-translucent-12);
      }
    }
  }
}

@include b.breakpoint("sm") {
  .fab {
    bottom: 1rem;
  }
}

.fab__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.75rem;
}
