@use "./input/Input" as ci;
@use "../utils/max-lines" as um;

.form-element {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-bottom: 0.5rem;
}

.form-element__content {
  display: contents;
}

.form-element__columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.25rem;
}

.form-element__label {
  font-weight: var(--font-medium);
  font-family: var(--font-display);
}

.form-element__helper {
  @include um.max-lines(1, break-all);
  color: var(--outline);
  font-size: 0.75rem;
}

.form-element__error {
  @extend .form-element__helper;
  color: var(--error);
}
