@use "../abstracts/breakpoints" as b;

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
  line-height: 1.25;
  box-shadow: var(--shadow-1);
  background-color: var(--primary-container);
  z-index: 1;

  &--custom-color {
    @extend .header;
    background-color: var(--primary);

    .header__text {
      color: var(--white);
      text-shadow: var(--text-shadow);
    }

    .header__icons__back {
      color: var(--white);
      text-shadow: var(--text-shadow);

      &:hover {
        background-color: var(--primary-translucent-08);
      }

      &:focus {
        background-color: var(--primary-translucent-12);
      }
    }
  }
}

.header__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  width: 100%;
  max-width: 70.5rem;
}

.header__text {
  color: var(--on-primary-container);
}

@include b.breakpoint("sm") {
  .header {
    gap: 1rem;
    padding: 1rem 2rem;
    line-height: 1.5;
    box-shadow: none;
  }
}

@include b.breakpoint("sm") {
  .header--custom-color {
    .header__icons {
      color: var(--primary);
      background: var(--white);
    }

    .header__icons__back {
      color: var(--primary);
      text-shadow: none;
    }
  }

  .header__icons {
    display: flex;
    flex-direction: row;
    color: var(--on-primary);
    background-color: var(--primary);
    border-radius: 9999px;
    overflow: hidden;

    > * {
      padding: 0.75rem;

      &:first-child {
        padding-right: 0.1875rem;
      }

      &:last-child {
        padding-left: 0.1875rem;
      }
    }
  }
}

.header__icons__back {
  display: flex;

  &:hover {
    background-color: var(--primary-blended-08);
  }

  &:focus {
    background-color: var(--primary-blended-12);
  }
}

@include b.breakpoint("sm") {
  .header__icons__back {
    color: inherit;
    text-shadow: none;
  }
}

.header__icons__page {
  display: none;
}

@include b.breakpoint("sm") {
  .header__icons__page {
    display: flex;
  }
}

.header__text {
  font-size: var(--text-4xl);
  font-weight: var(--font-bold);
  font-family: var(--font-display);
  height: fit-content;

  > p {
    display: none;
  }
}

@include b.breakpoint("sm") {
  .header__text > p {
    display: block;
  }
}
