.icon {
  display: inline-block;
  width: 1em;
  font-style: normal;
  font-weight: normal;
  font-size: var(--text-3xl);
  font-family: var(--font-icon);
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  user-select: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;

  &--custom-size {
    font-size: inherit;
  }

  &--outlined {
    @extend .icon;
    font-family: var(--font-icon-outlined);
  }
}
