.icon {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: var(--text-3xl);
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  user-select: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}