@use "../abstracts/breakpoints" as b;

// Title default styling
.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
  line-height: 1.25;
  box-shadow: var(--shadow-1);
  background-color: var(--surface-3);
  z-index: 1;

  // Allows custom color on Title
  // Basically makes the text pop on any background
  &--custom-color {
    @extend .title;
    background-color: var(--primary);

    .title__text {
      color: var(--white);
      text-shadow: var(--text-shadow);
    }

    .title__icons__back {
      color: var(--white);
      text-shadow: var(--text-shadow);

      &:hover {
        background-color: var(--primary-translucent-08);
      }

      &:focus {
        background-color: var(--primary-translucent-12);
      }
    }
  }
}

.title__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  width: 100%;
  max-width: 70.5rem;
}

// Icons
.title__icons {
  border-radius: 9999px;
}

%title-icon {
  color: var(--on-primary-container);
}

.title__text {
  @extend %title-icon;
  font-size: var(--text-2xl);
  font-weight: var(--font-medium);
}

.title__icons__back {
  @extend %title-icon;
  display: flex;
  outline: none;

  &:hover {
    background-color: var(--on-primary-translucent-08);
  }

  &:focus {
    background-color: var(--on-primary-translucent-12);
  }
}

// Desktop
@include b.breakpoint("sm") {
  .title {
    gap: 1rem;
    padding: 1rem 2rem;
    line-height: 1.5;
    background-color: var(--primary-container);
  }

  .title--custom-color {
    .title__icons {
      color: var(--primary);
      background: var(--white);
    }

    .title__icons__back {
      color: var(--primary);
      text-shadow: none;
    }
  }

  .title__icons {
    display: flex;
    flex-direction: row;
    color: var(--on-primary);
    background-color: var(--primary);
    overflow: hidden;

    > * {
      padding: 0.75rem;

      &:first-child {
        padding-right: 0.1875rem;
      }

      &:last-child {
        padding-left: 0.1875rem;
      }
    }
  }

  .title__icons__back {
    color: inherit;
    text-shadow: none;
  }
}

.title__icons__page {
  display: none;
}

@include b.breakpoint("sm") {
  .title__icons__page {
    display: flex;
  }
}

.title__text {
  font-family: var(--font-display);
  height: fit-content;

  > p {
    display: none;
  }
}

@include b.breakpoint("sm") {
  .title__text {
    font-size: var(--text-4xl);
    font-weight: var(--font-bold);

    > p {
      display: block;
    }
  }
}
