@use "../abstracts/breakpoints.scss" as b;
@use "../utils/scrollbar.scss" as us;

.x-scroll-content {
  @include us.scroll-desktop(1rem);
  width: 100%;
  overflow-x: auto;
}

.x-scroll-content__content {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 0.75rem;
  width: fit-content;
  padding-bottom: 0.5rem;

  > li {
    width: 20rem;
    > * {
      height: 100%;
    }
  }
}

@include b.breakpoint("sm") {
  .x-scroll-content__content > li {
    width: 22.5rem;
  }
}
