@use "../abstracts/breakpoints" as b;
@use "./Regular.scss" as lr;

.content-layout--list {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  color: var(--on-background);
  background-color: var(--background);

  > .content-layout__content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100%;
    max-width: 70.5rem;
    height: 100%;
  }
}

.content-layout__main {
  height: calc(100vh - 9.5rem);
  overflow: auto;

  > .content-layout__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    height: fit-content;
    padding: 2.25rem 0.5rem;

    > * {
      width: 100%;
    }
  }
}
