@use "../abstracts/breakpoints" as b;

.page-layout {
  padding-top: 3.71875rem;
  font-size: var(--text-base);
  font-weight: var(--font-regular);
  font-family: var(--font-sans);
  color: var(--on-background);
  background-color: var(--background);
}

@include b.breakpoint("sm") {
  .page-layout {
    padding-top: 10.875rem;

    &--without-title {
      padding-top: 4.5rem;
    }
  }
}
