// Miscellaneous configurations
:root {
  font-size: 16px;

  // Font size
  --text-xs: 0.6875rem;
  --text-sm: 0.75rem;
  --text-base: 0.875rem;
  --text-lg: 1rem;
  --text-xl: 1.125rem;
  --text-2xl: 1.375rem;
  --text-3xl: 1.5rem;
  --text-4xl: 1.75rem;
  --text-5xl: 2rem;
  --text-6xl: 2.25rem;
  --text-7xl: 2.8125rem;
  --text-8xl: 3.5625rem;
  --text-9xl: 4rem;

  // Font weight
  --font-thin: 100;
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 700;

  // Static colours
  --white: #ffffff;
  --black: #000000;

  // Primary tones
  --primary-0: #000000;
  --primary-5: #00131e;
  --primary-10: #001e2d;
  --primary-15: #00293c;
  --primary-20: #00344b;
  --primary-25: #00405b;
  --primary-30: #004c6b;
  --primary-35: #00587c;
  --primary-40: #00658d;
  --primary-50: #007fb1;
  --primary-60: #009bd6;
  --primary-70: #2db6f7;
  --primary-80: #83cfff;
  --primary-90: #c6e7ff;
  --primary-95: #e4f3ff;
  --primary-98: #f6faff;
  --primary-99: #fbfcff;
  --primary-100: #ffffff;

  // Secondary tones
  --secondary-0: #000000;
  --secondary-5: #2b0012;
  --secondary-10: #3e001d;
  --secondary-15: #510027;
  --secondary-20: #650032;
  --secondary-25: #750d3d;
  --secondary-30: #851c49;
  --secondary-35: #942954;
  --secondary-40: #a43560;
  --secondary-50: #c34e79;
  --secondary-60: #e36793;
  --secondary-70: #ff84ad;
  --secondary-80: #ffb1c7;
  --secondary-90: #ffd9e2;
  --secondary-95: #ffecef;
  --secondary-98: #fff8f8;
  --secondary-99: #fffbff;
  --secondary-100: #ffffff;

  // Tertiary tones
  --tertiary-0: #000000;
  --tertiary-5: #151100;
  --tertiary-10: #201c00;
  --tertiary-15: #2c2600;
  --tertiary-20: #383000;
  --tertiary-25: #443c00;
  --tertiary-30: #514700;
  --tertiary-35: #5e5300;
  --tertiary-40: #6b5f00;
  --tertiary-50: #877700;
  --tertiary-60: #a49100;
  --tertiary-70: #c2ac00;
  --tertiary-80: #e0c700;
  --tertiary-90: #f6e47e;
  --tertiary-95: #fff2b0;
  --tertiary-98: #fff9eb;
  --tertiary-99: #fffbff;
  --tertiary-100: #ffffff;

  // Neutral tones
  --neutral-0: #000000;
  --neutral-5: #0f1113;
  --neutral-10: #191c1e;
  --neutral-15: #242628;
  --neutral-20: #2e3133;
  --neutral-25: #393c3e;
  --neutral-30: #454749;
  --neutral-35: #505355;
  --neutral-40: #5c5e61;
  --neutral-50: #75777a;
  --neutral-60: #8f9193;
  --neutral-70: #aaabae;
  --neutral-80: #c5c6c9;
  --neutral-90: #e2e2e5;
  --neutral-95: #f0f1f3;
  --neutral-98: #f9f9fc;
  --neutral-99: #fcfcff;
  --neutral-100: #ffffff;

  // Neutral variant tones
  --neutral-variant-0: #000000;
  --neutral-variant-5: #0b1216;
  --neutral-variant-10: #161c21;
  --neutral-variant-15: #20272c;
  --neutral-variant-20: #2b3136;
  --neutral-variant-25: #363c41;
  --neutral-variant-30: #41484d;
  --neutral-variant-35: #4d5359;
  --neutral-variant-40: #585f65;
  --neutral-variant-50: #71787e;
  --neutral-variant-60: #8b9198;
  --neutral-variant-70: #a5acb2;
  --neutral-variant-80: #c1c7ce;
  --neutral-variant-90: #dde3ea;
  --neutral-variant-95: #ebf1f8;
  --neutral-variant-98: #f6faff;
  --neutral-variant-99: #fbfcff;
  --neutral-variant-100: #ffffff;

  // Error tones
  --error-0: #000000;
  --error-5: #2d0001;
  --error-10: #410002;
  --error-15: #540003;
  --error-20: #690005;
  --error-25: #7e0007;
  --error-30: #93000a;
  --error-35: #a80710;
  --error-40: #ba1a1a;
  --error-50: #de3730;
  --error-60: #ff5449;
  --error-70: #ff897d;
  --error-80: #ffb4ab;
  --error-90: #ffdad6;
  --error-95: #ffedea;
  --error-98: #fff8f7;
  --error-99: #fffbff;
  --error-100: #ffffff;

  // Text shadow
  --shadow-text: 0 1px 2px #0000004d, 0 2px 6px #00000026;

  // Rounded corners
  --rounded-xs: 0.25rem;
  --rounded-sm: 0.5rem;
  --rounded-md: 0.75rem;
  --rounded-lg: 1rem;
  --rounded-lg-end: 0 var(--rounded-lg) var(--rounded-lg) 0;
  --rounded-lg-top: var(--rounded-lg) var(--rounded-lg) 0 0;
  --rounded-xl: 1.75rem;
  --rounded-xl-top: var(--rounded-xl) var(--rounded-xl) 0 0;
  --rounded-full: 100px;
}

// Palette configurations
@mixin palette($type: "light", $contrast: "normal") {
  // Light mode
  @if ($type == "light") {
    // Light normal contrast
    @if ($contrast == "normal") {
      // Primary
      --primary: #216487;
      --surface-tint: #216487;
      --on-primary: #ffffff;
      --primary-container: #c6e7ff;
      --on-primary-container: #001e2d;

      // Secondary
      --secondary: #8c4a5f;
      --on-secondary: #ffffff;
      --secondary-container: #ffd9e2;
      --on-secondary-container: #3a071c;

      // Tertiary
      --tertiary: #6a5f11;
      --on-tertiary: #ffffff;
      --tertiary-container: #f4e389;
      --on-tertiary-container: #201c00;

      // Error
      --error: #ba1a1a;
      --on-error: #ffffff;
      --error-container: #ffdad6;
      --on-error-container: #410002;

      // Surface
      --background: #f6fafe;
      --on-background: #181c1f;
      --surface: #f6fafe;
      --on-surface: #181c1f;
      --surface-variant: #dde3ea;
      --on-surface-variant: #41484d;

      // Outline
      --outline: #71787e;
      --outline-variant: #c1c7ce;

      // Scrim
      --scrim: #000000;

      // Inverse
      --inverse-surface: #2d3135;
      --inverse-on-surface: #eef1f6;
      --inverse-primary: #92cef5;
    }

    // Light medium contrast
    @else if ($contrast == "medium") {
      // Primary
      --primary: #004866;
      --surface-tint: #216487;
      --on-primary: #ffffff;
      --primary-container: #3d7b9f;
      --on-primary-container: #ffffff;

      // Secondary
      --secondary: #6b2f44;
      --on-secondary: #ffffff;
      --secondary-container: #a65f76;
      --on-secondary-container: #ffffff;

      // Tertiary
      --tertiary: #4c4300;
      --on-tertiary: #ffffff;
      --tertiary-container: #827527;
      --on-tertiary-container: #ffffff;

      // Error
      --error: #8c0009;
      --on-error: #ffffff;
      --error-container: #da342e;
      --on-error-container: #ffffff;

      // Surface
      --background: #f6fafe;
      --on-background: #181c1f;
      --surface: #f6fafe;
      --on-surface: #181c1f;
      --surface-variant: #dde3ea;
      --on-surface-variant: #3d4449;

      // Outline
      --outline: #596066;
      --outline-variant: #757b81;

      // Scrim
      --scrim: #000000;

      // Inverse
      --inverse-surface: #2d3135;
      --inverse-on-surface: #eef1f6;
      --inverse-primary: #92cef5;
    }

    // Light high contrast
    @else if ($contrast == "high") {
      // Primary
      --primary: #002537;
      --surface-tint: #216487;
      --on-primary: #ffffff;
      --primary-container: #004866;
      --on-primary-container: #ffffff;

      // Secondary
      --secondary: #420e23;
      --on-secondary: #ffffff;
      --secondary-container: #6b2f44;
      --on-secondary-container: #ffffff;

      // Tertiary
      --tertiary: #282200;
      --on-tertiary: #ffffff;
      --tertiary-container: #4c4300;
      --on-tertiary-container: #ffffff;

      // Error
      --error: #4e0002;
      --on-error: #ffffff;
      --error-container: #8c0009;
      --on-error-container: #ffffff;

      // Surface
      --background: #f6fafe;
      --on-background: #181c1f;
      --surface: #f6fafe;
      --on-surface: #000000;
      --surface-variant: #dde3ea;
      --on-surface-variant: #1e252a;

      // Outline
      --outline: #3d4449;
      --outline-variant: #3d4449;

      // Scrim
      --scrim: #000000;

      // Inverse
      --inverse-surface: #2d3135;
      --inverse-on-surface: #ffffff;
      --inverse-primary: #dbefff;
    }

    // Surface levels
    --surface-dim: #d7dadf;
    --surface-bright: #f6fafe;
    --surface-container-lowest: #ffffff;
    --surface-container-low: #f0f4f8;
    --surface-container: #ebeef3;
    --surface-container-high: #e5e8ed;
    --surface-container-highest: #dfe3e7;

    // Box shadow
    --shadow-1: 0 1px 2px #0000004d, 0 1px 3px 1px #00000026;
    --shadow-2: 0 1px 2px #0000004d, 0 2px 6px 2px #00000026;
    --shadow-3: 0 4px 8px 3px #00000026, 0 1px 3px #0000004d;
    --shadow-4: 0 6px 10px 4px #00000026, 0 2px 3px #0000004d;
    --shadow-5: 0 8px 12px 6px #00000026, 0 4px 4px #0000004d;

    // Drop shadow
    --drop-shadow-1: dropShadow(0 1px 2px #0000004d),
      dropShadow(0 1px 3px #00000026);
    --drop-shadow-2: dropShadow(0 1px 2px #0000004d),
      dropShadow(0 2px 6px #00000026);
    --drop-shadow-3: dropShadow(0 4px 8px #00000026),
      dropShadow(0 1px 3px #0000004d);
    --drop-shadow-4: dropShadow(0 6px 10px #00000026),
      dropShadow(0 2px 3px #0000004d);
    --drop-shadow-5: dropShadow(0 8px 12px #00000026),
      dropShadow(0 4px 4px #0000004d);
  }

  // Dark mode
  @else if ($type == "dark") {
    // Dark normal contrast
    @if ($contrast == "normal") {
      // Primary
      --primary: #92cef5;
      --surface-tint: #92cef5;
      --on-primary: #00344b;
      --primary-container: #004c6b;
      --on-primary-container: #c6e7ff;

      // Secondary
      --secondary: #ffb1c7;
      --on-secondary: #541d31;
      --secondary-container: #703348;
      --on-secondary-container: #ffd9e2;

      // Tertiary
      --tertiary: #d7c770;
      --on-tertiary: #383000;
      --tertiary-container: #514700;
      --on-tertiary-container: #f4e389;

      // Error
      --error: #ffb4ab;
      --on-error: #690005;
      --error-container: #93000a;
      --on-error-container: #ffdad6;

      // Surface
      --background: #101417;
      --on-background: #dfe3e7;
      --surface: #101417;
      --on-surface: #dfe3e7;
      --surface-variant: #41484d;
      --on-surface-variant: #c1c7ce;

      // Outline
      --outline: #8b9198;
      --outline-variant: #41484d;

      // Scrim
      --scrim: #000000;

      // Inverse
      --inverse-surface: #dfe3e7;
      --inverse-on-surface: #2d3135;
      --inverse-primary: #216487;
    }

    // Dark medium contrast
    @else if ($contrast == "medium") {
      // Primary
      --primary: #96d2fa;
      --surface-tint: #92cef5;
      --on-primary: #001826;
      --primary-container: #5b97bd;
      --on-primary-container: #000000;

      // Secondary
      --secondary: #ffb7cb;
      --on-secondary: #330217;
      --secondary-container: #c67b92;
      --on-secondary-container: #000000;

      // Tertiary
      --tertiary: #dccc74;
      --on-tertiary: #1b1600;
      --tertiary-container: #9f9140;
      --on-tertiary-container: #000000;

      // Error
      --error: #ffbab1;
      --on-error: #370001;
      --error-container: #ff5449;
      --on-error-container: #000000;

      // Surface
      --background: #101417;
      --on-background: #dfe3e7;
      --surface: #101417;
      --on-surface: #f8fbff;
      --surface-variant: #41484d;
      --on-surface-variant: #c5cbd2;

      // Outline
      --outline: #9da4aa;
      --outline-variant: #7d848a;

      // Scrim
      --scrim: #000000;

      // Inverse
      --inverse-surface: #dfe3e7;
      --inverse-on-surface: #262b2e;
      --inverse-primary: #004d6d;
    }

    // Dark high contrast
    @else if ($contrast == "high") {
      // Primary
      --primary: #f8fbff;
      --surface-tint: #92cef5;
      --on-primary: #000000;
      --primary-container: #96d2fa;
      --on-primary-container: #000000;

      // Secondary
      --secondary: #fff9f9;
      --on-secondary: #000000;
      --secondary-container: #ffb7cb;
      --on-secondary-container: #000000;

      // Tertiary
      --tertiary: #fffaf4;
      --on-tertiary: #000000;
      --tertiary-container: #dccc74;
      --on-tertiary-container: #000000;

      // Error
      --error: #fff9f9;
      --on-error: #000000;
      --error-container: #ffbab1;
      --on-error-container: #000000;

      // Surface
      --background: #101417;
      --on-background: #dfe3e7;
      --surface: #101417;
      --on-surface: #ffffff;
      --surface-variant: #41484d;
      --on-surface-variant: #f8fbff;

      // Outline
      --outline: #c5cbd2;
      --outline-variant: #c5cbd2;

      // Scrim
      --scrim: #000000;

      // Inverse
      --inverse-surface: #dfe3e7;
      --inverse-on-surface: #000000;
      --inverse-primary: #002d42;
    }

    // Surface levels
    --surface-dim: #101417;
    --surface-bright: #353a3d;
    --surface-container-lowest: #0a0f12;
    --surface-container-low: #181c1f;
    --surface-container: #1c2024;
    --surface-container-high: #262a2e;
    --surface-container-highest: #313539;

    // Box shadow
    --shadow-1: 0 1px 3px 1px #00000026, 0 1px 2px #0000004d;
    --shadow-2: 0 2px 6px 2px #00000026, 0 1px 2px #0000004d;
    --shadow-3: 0 4px 8px 3px #00000026, 0 1px 3px #0000004d;
    --shadow-4: 0 6px 10px 4px #00000026, 0 2px 3px #0000004d;
    --shadow-5: 0 8px 12px 6px #00000026, 0 4px 4px #0000004d;

    // Drop shadow
    --drop-shadow-1: dropShadow(0 1px 3px #00000026),
      dropShadow(0 1px 2px #0000004d);
    --drop-shadow-2: dropShadow(0 2px 6px #00000026),
      dropShadow(0 1px 2px #0000004d);
    --drop-shadow-3: dropShadow(0 4px 8px #00000026),
      dropShadow(0 1px 3px #0000004d);
    --drop-shadow-4: dropShadow(0 6px 10px #00000026),
      dropShadow(0 2px 3px #0000004d);
    --drop-shadow-5: dropShadow(0 8px 12px #00000026),
      dropShadow(0 4px 4px #0000004d);
  }

  // Fixed colors normal contrast
  @if ($contrast == "normal") {
    --primary-fixed: #c6e7ff;
    --on-primary-fixed: #001e2d;
    --primary-fixed-dim: #92cef5;
    --on-primary-fixed-variant: #004c6b;

    --secondary-fixed: #ffd9e2;
    --on-secondary-fixed: #3a071c;
    --secondary-fixed-dim: #ffb1c7;
    --on-secondary-fixed-variant: #703348;

    --tertiary-fixed: #f4e389;
    --on-tertiary-fixed: #201c00;
    --tertiary-fixed-dim: #d7c770;
    --on-tertiary-fixed-variant: #514700;
  }

  // Fixed colors medium contrast
  @else if ($contrast == "medium") {
    --primary-fixed: #3d7b9f;
    --on-primary-fixed: #ffffff;
    --primary-fixed-dim: #1d6285;
    --on-primary-fixed-variant: #ffffff;

    --secondary-fixed: #a65f76;
    --on-secondary-fixed: #ffffff;
    --secondary-fixed-dim: #89475d;
    --on-secondary-fixed-variant: #ffffff;

    --tertiary-fixed: #827527;
    --on-tertiary-fixed: #ffffff;
    --tertiary-fixed-dim: #685c0e;
    --on-tertiary-fixed-variant: #ffffff;
  }

  // Fixed colors high contrast
  @else if ($contrast == "high") {
    --primary-fixed: #004866;
    --on-primary-fixed: #ffffff;
    --primary-fixed-dim: #003046;
    --on-primary-fixed-variant: #ffffff;

    --secondary-fixed: #6b2f44;
    --on-secondary-fixed: #ffffff;
    --secondary-fixed-dim: #50192e;
    --on-secondary-fixed-variant: #ffffff;

    --tertiary-fixed: #4c4300;
    --on-tertiary-fixed: #ffffff;
    --tertiary-fixed-dim: #342d00;
    --on-tertiary-fixed-variant: #ffffff;
  }
}

// Browser preferences support
@media (prefers-color-scheme: light) {
  :root {
    @include palette("light", "normal");
    @media (prefers-contrast: more) {
      @include palette("light", "high");
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    @include palette("dark", "normal");
    @media (prefers-contrast: more) {
      @include palette("dark", "high");
    }
  }
}

// Manual class support
@each $type in ("light", "dark") {
  @each $contrast in ("normal", "medium", "high") {
    .#{$type} {
      &.contrast-#{$contrast} {
        @include palette($type, $contrast);
      }
    }
  }

  // Default contrast to normal
  .#{$type}:not(.contrast-normal, .contrast-medium, .contrast-high) {
    @include palette($type, "normal");
  }
}
