// Miscellaneous configurations
:root {
  font-size: 16px;

  // Font size
  --text-xs: 0.6875rem;
  --text-sm: 0.75rem;
  --text-base: 0.875rem;
  --text-lg: 1rem;
  --text-xl: 1.125rem;
  --text-2xl: 1.375rem;
  --text-3xl: 1.5rem;
  --text-4xl: 1.75rem;
  --text-5xl: 2rem;
  --text-6xl: 2.25rem;
  --text-7xl: 2.8125rem;
  --text-8xl: 3.5625rem;
  --text-9xl: 4rem;

  // Font weight
  --font-thin: 100;
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 700;

  // Static colours
  --white: #ffffff;
  --black: #000000;

  // Primary tones
  --primary-100: #ffffff;
  --primary-99: #fafcff;
  --primary-95: #e4f3ff;
  --primary-90: #c5e7ff;
  --primary-80: #80cfff;
  --primary-70: #20b6f9;
  --primary-60: #009ad8;
  --primary-50: #007fb3;
  --primary-40: #00658f;
  --primary-30: #004c6d;
  --primary-20: #00344c;
  --primary-10: #001e2e;
  --primary-0: #000000;

  // Secondary tones
  --secondary-100: #ffffff;
  --secondary-99: #fcfcfc;
  --secondary-95: #ffecf3;
  --secondary-90: #ffd8e8;
  --secondary-80: #ffafd5;
  --secondary-70: #ff80c3;
  --secondary-60: #ff3fb4;
  --secondary-50: #e20098;
  --secondary-40: #b50077;
  --secondary-30: #8b005a;
  --secondary-20: #62003e;
  --secondary-10: #3d0025;
  --secondary-0: #000000;

  // Tertiary tones
  --tertiary-100: #ffffff;
  --tertiary-99: #fffbf7;
  --tertiary-95: #fff1b4;
  --tertiary-90: #ffe24c;
  --tertiary-80: #e4c521;
  --tertiary-70: #c7aa00;
  --tertiary-60: #a98f00;
  --tertiary-50: #8c7600;
  --tertiary-40: #6f5d00;
  --tertiary-30: #544600;
  --tertiary-20: #3a3000;
  --tertiary-10: #221b00;
  --tertiary-0: #000000;

  // Neutral tones
  --neutral-100: #ffffff;
  --neutral-99: #fbfcff;
  --neutral-95: #f0f1f4;
  --neutral-90: #e1e2e5;
  --neutral-80: #c5c6c9;
  --neutral-70: #aaabad;
  --neutral-60: #909194;
  --neutral-50: #75777a;
  --neutral-40: #5c5e61;
  --neutral-30: #454749;
  --neutral-20: #2e3133;
  --neutral-10: #191c1e;
  --neutral-0: #000000;

  // Neutral variant tones
  --neutral-variant-100: #ffffff;
  --neutral-variant-99: #fafcff;
  --neutral-variant-95: #ebf1f8;
  --neutral-variant-90: #dde3ea;
  --neutral-variant-80: #c1c7ce;
  --neutral-variant-70: #a6acb2;
  --neutral-variant-60: #8b9197;
  --neutral-variant-50: #71787e;
  --neutral-variant-40: #595f65;
  --neutral-variant-30: #41484d;
  --neutral-variant-20: #2b3136;
  --neutral-variant-10: #161c21;
  --neutral-variant-0: #000000;

  // Error tones
  --error-100: #ffffff;
  --error-99: #fcfcfc;
  --error-95: #ffede9;
  --error-90: #ffdad4;
  --error-80: #ffb4a9;
  --error-70: #ff897a;
  --error-60: #ff5449;
  --error-50: #dd3730;
  --error-40: #ba1b1b;
  --error-30: #930006;
  --error-20: #680003;
  --error-10: #410001;
  --error-0: #000000;

  // Text shadow
  --shadow-text: 0 1px 2px #0000004d, 0 2px 6px #00000026;

  // Rounded corners
  --rounded-xs: 0.25rem;
  --rounded-sm: 0.5rem;
  --rounded-md: 0.75rem;
  --rounded-lg: 1rem;
  --rounded-lg-end: 0 var(--rounded-lg) var(--rounded-lg) 0;
  --rounded-lg-top: var(--rounded-lg) var(--rounded-lg) 0 0;
  --rounded-xl: 1.75rem;
  --rounded-xl-top: var(--rounded-xl) var(--rounded-xl) 0 0;
  --rounded-full: 100px;
}

// Palette configurations
@mixin palette($type: "light") {
  // Light mode
  @if ($type == "light") {
    // Primary
    --primary: #00658f;
    --on-primary: #ffffff;
    --primary-container: #c5e7ff;
    --on-primary-container: #001c38;
    --inverse-primary: #80cfff;

    // Secondary
    --secondary: #b50077;
    --on-secondary: #ffffff;
    --secondary-container: #ffd8e8;
    --on-secondary-container: #3d0025;

    // Tertiary
    --tertiary: #6f5d00;
    --on-tertiary: #ffffff;
    --tertiary-container: #ffe24c;
    --on-tertiary-container: #221b00;

    // Error
    --error: #ba1b1b;
    --on-error: #ffffff;
    --error-container: #ffdfd4;
    --on-error-container: #410001;

    // Surface
    --surface: #fbfcff;
    --on-surface: #191c1e;
    --surface-variant: #dde3ea;
    --on-surface-variant: #41484d;
    --inverse-on-surface: #f0f1f4;
    --inverse-surface: #2e3133;
    --surface-1: #eef4f9;
    --surface-2: #e7f0f6;
    --surface-3: #dfebf3;
    --surface-4: #ddeaf2;
    --surface-5: #d8e7ef;

    // Background
    --background: #fbfcff;
    --on-background: #191c1e;

    // Outline
    --outline: #73777f;
    --outline-variant: #c1c7ce;

    // Box shadow
    --shadow-1: 0 1px 2px #0000004d, 0 1px 3px 1px #00000026;
    --shadow-2: 0 1px 2px #0000004d, 0 2px 6px 2px #00000026;
    --shadow-3: 0 4px 8px 3px #00000026, 0 1px 3px #0000004d;
    --shadow-4: 0 6px 10px 4px #00000026, 0 2px 3px #0000004d;
    --shadow-5: 0 8px 12px 6px #00000026, 0 4px 4px #0000004d;

    // Drop shadow
    --drop-shadow-1: dropShadow(0 1px 2px #0000004d),
      dropShadow(0 1px 3px #00000026);
    --drop-shadow-2: dropShadow(0 1px 2px #0000004d),
      dropShadow(0 2px 6px #00000026);
    --drop-shadow-3: dropShadow(0 4px 8px #00000026),
      dropShadow(0 1px 3px #0000004d);
    --drop-shadow-4: dropShadow(0 6px 10px #00000026),
      dropShadow(0 2px 3px #0000004d);
    --drop-shadow-5: dropShadow(0 8px 12px #00000026),
      dropShadow(0 4px 4px #0000004d);
  }

  // Dark mode
  @else if ($type == "dark") {
    // Primary
    --primary: #80cfff;
    --on-primary: #00344c;
    --primary-container: #004c6d;
    --on-primary-container: #c5e7ff;
    --inverse-primary: #00658e;

    // Secondary
    --secondary: #ffafd5;
    --on-secondary: #62003e;
    --secondary-container: #8b005a;
    --on-secondary-container: #ffd8e8;

    // Tertiary
    --tertiary: #e4c521;
    --on-tertiary: #3a3000;
    --tertiary-container: #544600;
    --on-tertiary-container: #ffe24c;

    // Error
    --error: #ffb4a9;
    --on-error: #680003;
    --error-container: #930006;
    --on-error-container: #ffdad4;

    // Surface
    --surface: #191c1e;
    --on-surface: #e1e2e5;
    --surface-variant: #41484d;
    --on-surface-variant: #c1c7ce;
    --inverse-on-surface: #191c1e;
    --inverse-surface: #e1e2e5;
    --surface-1: #1e2529;
    --surface-2: #212a30;
    --surface-3: #243037;
    --surface-4: #253139;
    --surface-5: #27353d;

    // Background
    --background: #191c1e;
    --on-background: #e1e2e5;

    // Outline
    --outline: #8b9197;
    --outline-variant: #41484d;

    // Box shadow
    --shadow-1: 0 1px 3px 1px #00000026, 0 1px 2px #0000004d;
    --shadow-2: 0 2px 6px 2px #00000026, 0 1px 2px #0000004d;
    --shadow-3: 0 4px 8px 3px #00000026, 0 1px 3px #0000004d;
    --shadow-4: 0 6px 10px 4px #00000026, 0 2px 3px #0000004d;
    --shadow-5: 0 8px 12px 6px #00000026, 0 4px 4px #0000004d;

    // Drop shadow
    --drop-shadow-1: dropShadow(0 1px 3px #00000026),
      dropShadow(0 1px 2px #0000004d);
    --drop-shadow-2: dropShadow(0 2px 6px #00000026),
      dropShadow(0 1px 2px #0000004d);
    --drop-shadow-3: dropShadow(0 4px 8px #00000026),
      dropShadow(0 1px 3px #0000004d);
    --drop-shadow-4: dropShadow(0 6px 10px #00000026),
      dropShadow(0 2px 3px #0000004d);
    --drop-shadow-5: dropShadow(0 8px 12px #00000026),
      dropShadow(0 4px 4px #0000004d);
  }
}

// Browser preferences support
@media (prefers-color-scheme: light) {
  :root {
    @include palette("light");
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    @include palette("dark");
  }
}

// Manual class support
.light {
  @include palette("light");
}

.dark {
  @include palette("dark");
}
