// Truncate text content
@mixin truncate($lines: 1, $word-wrap: break-word) {
  @if $lines == 1 {
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
  } @else {
    display: -webkit-box;
    overflow: hidden;

    text-overflow: ellipsis;
    word-break: $word-wrap;

    -webkit-box-orient: vertical;
    -webkit-line-clamp: $max-lines;
  }
}

// Responsive breakpoints
@mixin breakpoint($breakpoint) {
  @if $breakpoint == "sm" {
    @media only screen and (min-width: 600px) {
      @content;
    }
  }

  @if $breakpoint == "md" {
    @media only screen and (min-width: 905px) {
      @content;
    }
  }

  @if $breakpoint == "lg" {
    @media only screen and (min-width: 1440px) {
      @content;
    }
  }
}

@mixin scheme($scheme) {
  @media (prefers-color-scheme: $scheme) {
    @content;
  }
}
