:root {
  accent-color: var(--primary);
}

::-webkit-scrollbar {
  background-color: var(--surface-1);
}

::-webkit-scrollbar-thumb {
  background-color: var(--surface-5);

  &:hover {
    background-color: var(--surface-3);
  }

  &:active {
    background-color: var(--surface-5);
  }
}
