@use "../input/Input" as ci;

.radio-group {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.radio-group__content {
  display: contents;
}

.radio-group__columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.25rem;
}
