:root {
  // Primary
  --primary: #00658f;
  --on-primary: #ffffff;
  --primary-container: #c5e7ff;
  --on-primary-container: #001c38;
  --primary-blended-08: #147198;
  --primary-blended-12: #1f779c;
  --primary-translucent-08: #00658f08;
  --primary-translucent-12: #00658f0c;

  // secondary
  --secondary: #b50077;
  --on-secondary: #ffffff;
  --secondary-container: #ffd8e8;
  --on-secondary-container: #3d0025;
  --secondary-blended-08: #bb1482;
  --secondary-blended-12: #be1f87;
  --secondary-translucent-08: #b5007708;
  --secondary-translucent-12: #b500770c;

  // Surface
  --surface: #fbfcff;
  --on-surface: #191c1e;
  --surface-variant: #dde3ea;
  --surface-1: #eef4f9;
  --surface-2: #e7f0f6;
  --surface-3: #dfebf3;
  --surface-4: #ddeaf2;
  --surface-5: #d8e7ef;

  // Background
  --background: #fbfcff;

  // Outline
  --outline: #73777f;

  // Static colours
  --white: #ffffff;
  --black: #000000;

  // Shadow
  --shadow-1: 0px 1px 2px rgba(0, 0, 0, 0.3),
    0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  --shadow-2: 0px 1px 2px rgba(0, 0, 0, 0.3),
    0px 2px 6px 2px rgba(0, 0, 0, 0.15);
  --shadow-3: 0px 4px 8px 3px rgba(0, 0, 0, 0.15),
    0px 1px 3px rgba(0, 0, 0, 0.3);
  --shadow-4: 0px 6px 10px 4px rgba(0, 0, 0, 0.15),
    0px 2px 3px rgba(0, 0, 0, 0.3);
  --shadow-5: 0px 8px 12px 6px rgba(0, 0, 0, 0.15),
    0px 4px 4px rgba(0, 0, 0, 0.3);
  --text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3),
    0px 2px 6px rgba(0, 0, 0, 0.15);

  // Animation
  --animation-timing: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-speed: 150ms;
}
