:root {
  // Font size
  --text-xs: 0.6875rem;
  --text-sm: 0.75rem;
  --text-base: 0.875rem;
  --text-lg: 1rem;
  --text-xl: 1.125rem;
  --text-2xl: 1.375rem;
  --text-3xl: 1.5rem;
  --text-4xl: 1.75rem;
  --text-5xl: 2rem;
  --text-6xl: 2.25rem;
  --text-7xl: 2.8125rem;
  --text-8xl: 3.5625rem;
  --text-9xl: 4rem;

  // Font types
  --font-sans: Inter, Sarabun;
  --font-display: Inter, "Noto Sans Thai";

  // Font weight
  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 700;
}
