// Miscellaneous configurations
// prettier-ignore
:root {
  // Static colours
  --white: #ffffff;
  --black: #000000;

  // Shadow
  --shadow-1: 0px 1px 2px rgba(0, 0, 0, 0.3),
    0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  --shadow-2: 0px 1px 2px rgba(0, 0, 0, 0.3),
    0px 2px 6px 2px rgba(0, 0, 0, 0.15);
  --shadow-3: 0px 4px 8px 3px rgba(0, 0, 0, 0.15),
    0px 1px 3px rgba(0, 0, 0, 0.3);
  --shadow-4: 0px 6px 10px 4px rgba(0, 0, 0, 0.15),
    0px 2px 3px rgba(0, 0, 0, 0.3);
  --shadow-5: 0px 8px 12px 6px rgba(0, 0, 0, 0.15),
    0px 4px 4px rgba(0, 0, 0, 0.3);
  --text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3),
    0px 2px 6px rgba(0, 0, 0, 0.15);

  // Rounded Corners
  --rounded-xs: 0.03125rem;
  --rounded-sm: 0.25rem;
  --rounded: 0.5rem;
  --rounded-lg: 0.75rem;
  --rounded-xl: 0.9375rem;
  --rounded-2xl: 1.75rem;
  --rounded-3xl: 2.90625rem;

  // Animation
  --animation-timing: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-speed: 150ms;
  --animation-speed-large: 300ms;
}

// Palette configurations
@mixin palette($type: "light") {
  // Light mode
  @if ($type == "light") {
    // Primary
    --primary: #00658f;
    --primary-translucent-08: #00658f08;
    --primary-translucent-12: #00658f0c;
    --on-primary: #ffffff;
    --on-primary-translucent-08: #ffffff08;
    --on-primary-translucent-12: #ffffff0c;
    --primary-container: #c5e7ff;
    --on-primary-container: #001c38;
    --inverse-primary: #80cfff;

    // Secondary
    --secondary: #b50077;
    --secondary-translucent-08: #b5007708;
    --secondary-translucent-12: #b500770c;
    --on-secondary: #ffffff;
    --on-secondary-translucent-08: #ffffff08;
    --on-secondary-translucent-12: #ffffff0c;
    --secondary-container: #ffd8e8;
    --on-secondary-container: #3d0025;

    // Tertiary
    --tertiary: #6f5d00;
    --tertiary-translucent-08: #6f5d0008;
    --tertiary-translucent-12: #6f5d000c;
    --on-tertiary: #ffffff;
    --on-tertiary-translucent-08: #ffffff08;
    --on-tertiary-translucent-12: #ffffff0c;
    --tertiary-container: #ffe24c;
    --on-tertiary-container: #221b00;

    // Error
    --error: #ba1b1b;
    --error-translucent-08: #ba1b1b08;
    --error-translucent-12: #ba1b1b0c;
    --on-error: #ffffff;
    --on-error-translucent-08: #ffffff08;
    --on-error-translucent-12: #ffffff0c;
    --error-container: #ffdfd4;
    --on-error-container: #410001;

    // Surface
    --surface: #fbfcff;
    --surface-translucent-08: #fbfcff08;
    --surface-translucent-12: #fbfcff0c;
    --on-surface: #191c1e;
    --on-surface-translucent-08: #191c1e08;
    --on-surface-translucent-12: #191c1e0c;
    --on-surface-translucent-38: #191c1e26;
    --surface-variant: #dde3ea;
    --on-surface-variant: #41484d;
    --inverse-on-surface: #f0f1f4;
    --inverse-surface: #2e3133;
    --surface-1: #eef4f9;
    --surface-2: #e7f0f6;
    --surface-3: #dfebf3;
    --surface-4: #ddeaf2;
    --surface-5: #d8e7ef;

    // Background
    --background: #fbfcff;
    --on-background: #191c1e;

    // Outline
    --outline: #73777f;
  }

  // Dark mode
  @else if ($type == "dark") {
    // Primary
    --primary: #80cfff;
    --primary-translucent-08: #80cfff08;
    --primary-translucent-12: #80cfff0c;
    --on-primary: #00344c;
    --on-primary-translucent-08: #00344c08;
    --on-primary-translucent-12: #00344c0c;
    --primary-container: #004c6d;
    --on-primary-container: #c5e7ff;
    --inverse-primary: #00658e;

    // Secondary
    --secondary: #ffafd5;
    --secondary-translucent-08: #ffafd508;
    --secondary-translucent-12: #ffafd50c;
    --on-secondary: #62003e;
    --on-secondary-translucent-08: #62003e08;
    --on-secondary-translucent-12: #62003e0c;
    --secondary-container: #8b005a;
    --on-secondary-container: #ffd8e8;

    // Tertiary
    --tertiary: #e4c521;
    --tertiary-translucent-08: #e4c52108;
    --tertiary-translucent-12: #e4c5210c;
    --on-tertiary: #3a3000;
    --tertiary-container: #544600;
    --tertiary-container-translucent-08: #54460008;
    --tertiary-container-translucent-12: #5446000c;
    --on-tertiary-container: #ffe24c;
    --tertiary-blended-08: #d6b91e;
    --tertiary-blended-12: #d0b31d;

    // Error
    --error: #ffb4a9;
    --error-translucent-08: #ffb4a908;
    --error-translucent-12: #ffb4a90c;
    --on-error: #680003;
    --on-error-translucent-08: #68000308;
    --on-error-translucent-12: #6800030c;
    --error-container: #930006;
    --on-error-container: #ffdad4;

    // Surface
    --surface: #191c1e;
    --surface-translucent-08: #191c1e08;
    --surface-translucent-12: #191c1e0c;
    --on-surface: #e1e2e5;
    --on-surface-translucent-08: #e1e2e508;
    --on-surface-translucent-12: #e1e2e50c;
    --on-surface-translucent-38: #e1e2e526;
    --surface-variant: #41484d;
    --on-surface-variant: #c1c7ce;
    --inverse-on-surface: #191c1e;
    --inverse-surface: #e1e2e5;
    --surface-1: #1e2529;
    --surface-2: #212a30;
    --surface-3: #243037;
    --surface-4: #253139;
    --surface-5: #27353d;

    // Background
    --background: #191c1e;
    --on-background: #e1e2e5;

    // Outline
    --outline: #8b9197;
  }
}

// Browser preferences support
@media (prefers-color-scheme: light) {
  :root {
    @include palette("light");
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    @include palette("dark");
  }
}

// Manual class support
.light {
  @include palette("light");
}

.dark {
  @include palette("dark");
}
